// Colors
$main-color: #54B2B0;
$primary-color: #F2655A;
$text-color: #2F2F2F;
$primary-text-color: rgba(47, 47, 47, 0.7);

$border-color: #EDF1F4;
$primary-border-color: #E2E2E2;

$background-color: #F7F7F7;
$primary-background-color: #2B2E2E;

