.blogdetail-page {
	background: #fff;
	.content-page {
		padding: 0 25px;
		.main-title {
			margin: 0 0 17px 0;
			font-size: 20px;
			font-weight: 400;
			border-bottom: 1px solid $border-color;
			line-height: 1.4;
			padding: 35px 0 15px 0;
		}
		.content-intro,
		.content-text {
			color: $primary-text-color;
			font-size: 15px;
			margin-bottom: 30px;
			img {
				height: auto;
			}
		}

		.content-intro {
			margin-bottom: 17px;	
		}
	}
	.btn-social {
		@include flex();
		@include align-items(center);
		margin-bottom: 30px;
		.item-social {
			margin-right: 3px;
		}
	}
	.related {
		padding-bottom: 30px;
		.title-related {
			@include flex();
			@include justify-content(space-between);
			@include align-items(center);
			padding: 20px 25px;
			.title {
				font-size: 17px;
			}
			.control {
				.slick-disabled, .btn:hover {
					color: rgba(47, 47, 47, 0.5);
				}
			}
		}
	}
	.related-slide {
		margin: 0 10px;
	}
	.related .tp-blogitem {
		width: 100%;
	}
	.content-page .comment {
		border-bottom: 1px solid $border-color;
		padding-bottom: 10px;
	}
}