.detail-page {
    background: #fff;
    padding-bottom: 150px;
    .slide {
        position: relative;
        .control {
            display: none;
            position: absolute;
            top: 25px;
            left: 25px;
            color: #fff;
            .slick-disabled,
            .btn:hover {
                color: rgba(255, 255, 255, 0.5);
            }
        }
        .slide-inner > div:not(:first-child) {
            display:none;
        }
        .slide-inner {
            min-height: 100px;
            &:before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                width: 8px;
                height: 8px;
                background-color: #bbb;
                border-radius: 50%;
                -webkit-animation: linear loading-wave-dots-2 2.8s infinite;
                animation: linear loading-wave-dots-2 2.8s infinite;
            }
        }

        .slide-inner.slick-initialized + .control {
            display: block;
        }

    }
    .content {
        padding: 0 25px;
        border-bottom: 1px solid $border-color;
        .main-content {
            padding-bottom: 30px;
            .wrap-menu.fixed {
                height: 58px;
                .menu {
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: calc(100% - 50px);
                    background: #fff;
                    z-index: 999;
                    margin: 0 25px;
                    &:after,
                    &:before {
                        content: '';
                        position: absolute;
                        width: 25px;
                        height: 58px;
                        background: #fff;
                        top: 0;
                    }
                    &:after {
                        right: -25px;
                    }
                    &:before {
                        left: -25px;
                    }
                }
            }
            .menu {
                margin: 0;
                padding: 0;
                list-style: none;
                border-bottom: 1px solid $border-color;
                white-space: nowrap;
                @include flex();
                @include justify-content(space-between);
                li {
                    a {
                        border-bottom: 1px solid transparent;
                        margin-bottom: -1px;
                        color: $text-color;
                        font-size: 13px;
                        display: block;
                        padding: 19px 0;
                        &.active{
                            border-bottom-color: $main-color;
                            color: $main-color;
                        }
                    }
                    &:nth-child(3) {
                        display: none;
                    }
                }
            }
        }
        .cart {
            display: none;
        }
    }

    .about-d {
        .title-address {
            border-bottom: 1px solid $border-color;
            padding: 25px 0;
            .title {
                margin: 0 0 5px 0;
                font-size: 30px;
                font-weight: 300;
                line-height: 1.3;
            }
            .address {
                margin: 0;
                font-size: 15px;
                color: $primary-text-color;
            }
        }
        .rate {
            border-bottom: 1px solid $border-color;
            padding: 15px 0;
        }
        .link {
            border-bottom: 1px solid $border-color;
            padding: 14px 0;
            @include flex();
            @include align-items(center);
            .name {
                font-size: 13px;
            }
            ul {
                margin: 0 10px 0 0;
                padding: 0;
                list-style: none;
                font-size: 20px;
                line-height: 1;
                @include flex();
                @include align-items(center);
            }
            li {
                margin-right: 10px;
                a {
                    color: $main-color;
                    &:hover {
                        color: $text-color;
                    }
                }
            }
        }
        .time-since {
            border-bottom: 1px solid $border-color;
            font-size: 13px;
            padding: 15px 0;
            .item {
                @include flex();
                @include align-items(center);
                margin: 8px 0;
                i {
                    width: 18px;
                    color: $main-color;
                    font-size: 15px;
                    text-align: center;
                    margin-right: 10px;
                }
                .main-color {
                    margin: 0 5px;
                }
                &.date-open {
                    @include align-items(flex-start);
                    i {
                        margin-top: 2px;
                    }
                    ul {
                        margin: 0;
                        padding: 0;
                        list-style: none;
                    }
                }
            }
        }
        .des {
            border-bottom: 1px solid $border-color;
            font-size: 15px;
            padding: 5px 0;
        }
    }

    .service-d {
        padding: 25px 0;
        border-bottom: 1px solid $border-color;
        .title {
            font-size: 17px;
            margin-bottom: 15px;
        }
        .list {
            margin-right: 10px;
            .item {
                @include flex();
                @include flex-wrap(wrap);
                margin: 13px 0;
                cursor: pointer;
            }
            .tp-checkbox {
                margin-right: 18px;
            }
            .name-price {
                @include flex-grow("1 0");
                line-height: 1.4;
                strong {
                    font-size: 15px;
                    font-weight: 300;
                    margin-right: 10px;
                }
                span {
                    font-size: 12px;
                    line-height: 1;
                }
            }
        }
    }

    .stylist-d,
    .times-d {
        display: none;
    }

    .images-d {
        border-bottom: 1px solid $border-color;
        padding: 25px 0 18px;
        .title {
            font-size: 17px;
        }
        .list {
            @include flex();
            @include flex-wrap(wrap);
            margin: 0 -7px;
            .item {
                width: calc(33.3% - 14px);
                margin: 7px;
                position: relative;
                .number {
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    color: #fff;
                    background: rgba(53, 53, 53, 0.7);
                    width: 100%;
                    height: 100%;
                    font-size: 24px;
                    font-weight: bold;
                    @include flex();
                    @include justify-content(center);
                    @include align-items(center);
                    pointer-events: none;
                }
                img {
                    width: 100%;
                }
            }
        }
    }
    .rate-d {
        border-bottom: 1px solid $border-color;
        padding-bottom: 5px;
        .title {
            @include flex();
            @include align-items(center);
            border-bottom: 1px solid $border-color;
            padding: 25px 0;
            .name {
                font-size: 17px;
                margin-right: 20px;
            }
            .tp-rate .stars {
                font-size: 16px;
                i {
                    margin-right: 6px;
                }
            }
        }
        .list .item {
            border-bottom: 1px solid $border-color;
            padding: 25px 0;
            .info-rate {
                @include flex();
                @include align-items(center);
                margin-bottom: 17px;
                figure {
                    margin: 0 13px 0 0;
                    img {
                        width: 48px;
                        border-radius: 100px;
                    }
                }
                .info {
                    @include flex-grow("1 0");
                    .name {
                        font-size: 15px;
                        margin-bottom: 1px;
                    }
                    .date-stars {
                        @include flex();
                        @include align-items(center);
                        .date {
                            font-size: 11px;
                            color: $primary-text-color;
                            margin-right: 12px;
                        }
                    }
                }
            }
            .content-rate {
                background: transparent;
                font-size: 15px;
            }
        }
        .paging {
            font-size: 15px;
            padding: 20px 0 15px;
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                @include flex();
            }
            li {
                padding: 3px 5px;
                border: 1px solid #6D6D6D;
                margin-right: 5px;
                min-width: 30px;
                text-align: center;
                @include transition();
                &:hover, &.active {
                    border-color: $main-color;
                    color: $main-color;
                }
                &:hover a {
                    color: $main-color;
                }
                &.prev,
                &.next {
                    padding-left: 20px;
                    padding-right: 20px;
                }
                &.dots {
                    border-color: transparent;
                    &:hover {
                        color: $text-color;
                    }
                }
                a {
                    color: $text-color;
                    display: block;
                    outline: none;
                }
            }
        }
    }

    .map-d {
        .title {
            font-size: 17px;
            padding: 20px 0;
        }
        .content-map iframe {
            width: 100%;
            vertical-align: middle;
        }
    }

    .cart-mobile {
        position: fixed;
        bottom: 0;
        left: 0;
        background: #fff;
        width: 100%;
        z-index: 999;
        .no-choice-service {
            text-align: center;
            border-top: 1px solid $border-color;
            .choice-service {
                margin: 5px 25px 0;
                width: auto;
            }
            p {
                font-size: 13px;
                padding: 5px 0;
                margin: 0;
            }
        }
        .wrap-book {
            .title-book {
                @include flex();
                @include align-items(center);
                @include justify-content(space-between);
                padding: 0 25px;
                height: 45px;
                border-bottom: 1px solid $border-color;
                display: none;
                span {
                    font-size: 13px;
                }
                i {
                    font-size: 13px;
                    cursor: pointer;
                    padding: 10px 0 10px 10px;
                    @include transition();
                }
            }
            .service-stylist {
                max-height: calc(100vh - 170px);
                overflow-y: auto;
                display: none;
            }
            .list-service {
                margin: 0 25px;
                padding: 10px 0;
                border-bottom: 1px solid $border-color;
            }
            .list-stylist {
                .name-box {
                    font-size: 15px;
                    margin: 10px 25px;
                }
                .list {
                    @include flex();
                    overflow-x: auto;
                    padding: 0 13px 13px;
                }
                .item {
                    margin: 0 12px;
                    width: 48px;
                    figure {
                        width: 48px;
                        height: 48px;
                        margin: 0 0 5px;
                        img {
                            border-radius: 50%;
                            width: 100%;
                        }
                    }
                    .name {
                        font-size: 10px;
                        margin: 0 -8px;
                        direction: rtl;
                        text-align: center;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                    &.active figure {
                        position: relative;
                        &:before {
                            position: absolute;
                            content: "\e902";
                            font-family: 'bzone' !important;
                            speak: none;
                            font-style: normal;
                            font-weight: normal;
                            font-variant: normal;
                            text-transform: none;
                            -webkit-font-smoothing: antialiased;
                            -moz-osx-font-smoothing: grayscale;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background: rgba(53, 53, 53, 0.7);
                            color: #fff;
                            text-align: center;
                            line-height: 48px;
                            font-size: 19px;
                            border-radius: 100px;
                        }
                    }
                }
            }
            .choice-time {
                @include flex();
                @include justify-content(space-between);
                @include align-items(center);
                margin: 0 25px;
                padding: 10px 0;
                border-top: 1px solid $border-color;
                .name {
                    font-size: 15px;
                }
                .chose {
                    color: $primary-text-color;
                    font-size: 13px;
                }
                .btn-time {
                    font-size: 13px;
                    border: 1px solid;
                    border-radius: 4px;
                    line-height: 30px;
                    padding: 0 12px;
                    color: $primary-text-color;
                    cursor: pointer;
                    &.active {
                        color: $main-color;
                    }
                }
            }
            .btn-book {
                border-top: 1px solid $border-color;
                padding: 5px 25px 0;
                &.book-second {
                    display: none;
                }
            }
            .price-time {
                padding: 10px 25px;
            }
        }
        &.active {
            top: 0;
            bottom: auto;
            height: 100vh;
            .wrap-book {
                height: 100vh;
                .title-book {
                    @include flex();
                }
                .service-stylist {
                    display: block;
                }
                .btn-book {
                    &.book-first {
                        display: none;
                    }
                    &.book-second {
                        display: block;
                    }
                }
            }
        }

    }

    .related {
        .title-related {
            @include flex();
            @include justify-content(space-between);
            @include align-items(center);
            padding: 20px 25px;
            .title {
                font-size: 17px;
            }
            .control {
                .slick-disabled,
                .btn:hover {
                    color: rgba(47, 47, 47, 0.5);
                }
            }
        }
        .related-slide {
            margin: 0 10px;
            .tp-salon {
                width: 100%;
                background: #fff;
            }
        }
    }
}

.calendar-slick .slick-track {
    @include transform(none !important);
}