.detail-page {
    background: #fff;
    padding-bottom: 150px;
    .slide {
        position: relative;
        .control {
            display: none;
            position: absolute;
            top: 25px;
            left: 25px;
            color: #fff;
            .slick-disabled,
            .btn:hover {
                color: rgba(255, 255, 255, 0.5);
            }
        }
        .slide-inner > div:not(:first-child) {
            display:none;
        }
        .slide-inner {
            min-height: 100px;
            &:before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                width: 8px;
                height: 8px;
                background-color: #bbb;
                border-radius: 50%;
                -webkit-animation: linear loading-wave-dots-2 2.8s infinite;
                animation: linear loading-wave-dots-2 2.8s infinite;
            }
        }

        .slide-inner.slick-initialized + .control {
            display: block;
        }

    }
    .content {
        padding: 0 25px;
        border-bottom: 1px solid $border-color;
        .main-content {
            .wrap-menu.fixed {
                height: 58px;
                .menu {
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: calc(100% - 50px);
                    background: #fff;
                    z-index: 999;
                    margin: 0 25px;
                    &:after,
                    &:before {
                        content: '';
                        position: absolute;
                        width: 25px;
                        height: 58px;
                        background: #fff;
                        top: 0;
                    }
                    &:after {
                        right: -25px;
                    }
                    &:before {
                        left: -25px;
                    }
                }
            }
            .menu {
                margin: 0;
                padding: 0;
                list-style: none;
                border-bottom: 1px solid $border-color;
                white-space: nowrap;
                @include flex();
                @include justify-content(space-between);
                li {
                    a {
                        border-bottom: 1px solid transparent;
                        margin-bottom: -1px;
                        color: $text-color;
                        font-size: 13px;
                        display: block;
                        padding: 19px 0;
                        &.active{
                            border-bottom-color: $main-color;
                            color: $main-color;
                        }
                    }
                    &:nth-child(3) {
                        display: none;
                    }
                }
            }
        }
        .ads-d,
        .cart,
        .ads-cart {
            display: none;
        }
    }
    .about-d {
        .title-address {
            border-bottom: 1px solid $border-color;
            padding: 25px 0;
            .title {
                margin: 0 0 5px 0;
                font-size: 30px;
                font-weight: 300;
                line-height: 1.3;
            }
            .tp-rate {
                display: flex;
                align-items: flex-end;
                flex-wrap: wrap;
                margin-bottom: 10px;
                .number {
                    margin: 0 5px 0 0;
                    color: #54B2B0;
                    font-size: 24px;
                    line-height: 1;
                }
                .stars {
                    font-size: 18px;
                    margin-right: 10px;
                }
                .rate-status {
                    font-size: 14px;
                }
            }
            .address {
                margin: 0;
                font-size: 15px;
                color: $primary-text-color;
            }
        }
        
        .rate {
            border-bottom: 1px solid $border-color;
            padding: 15px 0;
        }

        .hot-news {
            padding: 20px 0;
            border-bottom: 1px solid #EDF1F4;
            .list {
                height: 275px;
                overflow-y: auto;
                overflow-scrolling: touch;
                -o-overflow-scrolling: touch;
                -ms-overflow-scrolling: touch;
                -moz-overflow-scrolling: touch;
                -webkit-overflow-scrolling: touch;
            }
            .title {
                font-size: 17px;
                margin-bottom: 15px;
            }
            .item {
                display: flex;
                margin-bottom: 10px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
            .img {
                width: 70px;
                height: 70px;
                position: relative;
                overflow: hidden;
                margin-right: 10px;
                img {
                    height: 100%;
                    max-width: none;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
            .info {
                flex: 1 0;
            }
            .name {
                margin-bottom: 10px;
                font-size: 14px;
                a {
                    color: inherit;
                    &:hover {
                        color: #54B2B0;
                    }
                }
            }
            .creat-by {
                font-size: 12px;
                color: rgba(47, 47, 47, 0.7);
                font-style: italic;
            }
            .des {
                display: none;
            }
        }
    }
    .staff-d {
        padding: 20px 0;
        border-bottom: 1px solid #EDF1F4;
        .title {
            font-size: 17px;
            margin-bottom: 15px;
        }
        .list {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -10px -20px;
            .item {
                position: relative;
                width: calc(50% - 20px);
                margin: 0 10px 20px;
                display: flex;
                align-items: flex-start;
                cursor: pointer;
                img {
                    width: calc(100% - 60px);
                }
                .info {
                    border: 2px solid #948a54;
                    width: 70px;
                    padding: 2px 10px 4px;
                    margin: 10px 0 0 -10px;
                    transition: all 0.3s;
                    .level {
                        font-size: 12px;
                        margin-bottom: 10px;
                    }
                    .name {
                        font-weight: 500;
                        font-size: 13px;
                        line-height: 1.2;
                    }
                }
                &:hover {
                    .info {
                        margin-left: 0;
                    }
                }

                &.more {
                    position: relative;
                    .number {
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 1;
                        color: #fff;
                        background: rgba(53, 53, 53, 0.7);
                        width: 100%;
                        height: 100%;
                        font-size: 24px;
                        font-weight: bold;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    ~ .item {
                        display: none;
                    }
                }
                &:not(.more) .number {
                    display: none;
                }
            }
        }
    }
    .service-d {
        border-bottom: 1px solid $border-color;
        padding: 20px 0;
        .title {
            margin-bottom: 10px;
            font-size: 17px;
        }
        .content-service {
            font-size: 15px;
        }
        .left {
            display: none;
        }
        .right {
            .item {
                &:last-child .name-item {
                    border-bottom: none;
                }
                &.active .sub-service {
                    display: block;
                }
                &.selected .action i.bz-check {
                    display: inline-block;
                }
            }
            .name-item {
                @include flex();
                @include align-items(center);
                @include justify-content(space-between);
                padding: 10px 0;
                border-bottom: 1px solid $border-color;
                cursor: pointer;
                span {
                    margin-right: 10px;
                }
            }
            .item-subs.active .name-sub .bz-down-2:before, 
            .item.active .name-item .bz-down-2:before {
                content: "\e910";
            }
            .sub-service {
                display: none;
                background: rgba(204, 204, 204, 0.1);
                border-bottom: 1px solid $border-color;
                .action {
                    width: 24px;
                    text-align: center;
                }
            }
            .action {
                margin-left: 10px;
                @include flex();
                @include align-items(center);
                @include justify-content(center);
                i {
                    font-size: 13px;
                    color: #999;
                    &.bz-check {
                        color: $main-color;
                        font-size: 10px;
                        margin-right: 10px;
                        display: none;
                    }
                }
            }
            label {
                cursor: pointer;
                margin: 0;
            }
            .name-sub {
                @include flex();
                @include align-items(center);
                padding: 10px 0;
                margin: 0 15px;
                border-top: 1px solid $border-color;
                cursor: pointer;
            }
            .item-subs:first-child .name-sub {
                border-top: none;
            }
            .sub-list {
                padding: 0 15px 0 30px;
                font-size: 13px;
                display: none;
            }
            .item-sub {
                @include flex();
                @include align-items(center);
                padding: 5px 0;
                &:last-child {
                    border-bottom: none;
                }
            }
            .name-time {
                @include flex-grow("1 0");
                margin-right: 10px;
                .time {
                    font-size: 12px;
                    color: $primary-text-color;
                }
            }
            .price-save {
                text-align: right;
                .save {
                    font-size: 12px;
                    color: $main-color;
                }
            }
            .item-subs.active .sub-list {
                display: block;
            }
        }
    }
    .stylist-d,
    .times-d {
        display: none;
    }
    .images-d {
        border-bottom: 1px solid $border-color;
        padding: 20px 0;
        .title {
            font-size: 17px;
            margin-bottom: 15px;
        }
        .list {
            @include flex();
            @include flex-wrap(wrap);
            margin: -7px;
            .item {
                width: calc(50% - 14px);
                margin: 7px;
                position: relative;
                display: none;
                &:nth-child(-n+4) {
                    display: block;
                }
                .number {
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    color: #fff;
                    background: rgba(53, 53, 53, 0.7);
                    width: 100%;
                    height: 100%;
                    font-size: 24px;
                    font-weight: bold;
                    @include flex();
                    @include justify-content(center);
                    @include align-items(center);
                    pointer-events: none;
                }
                img {
                    width: 100%;
                }
                .time {
                    color: #fff;
                    font-size: 12px;
                    text-shadow: 0 0 2px #000;
                    position: absolute;
                    left: 10px;
                    bottom: 5px;
                    z-index: 1;
                    white-space: nowrap;
                }
            }
        }
    }
    .styles-d {
        border-bottom: 1px solid $border-color;
        padding: 20px 0;
        .verified {
            @include flex();
            @include align-items(center);
            @include justify-content(space-between);
            @include flex-wrap(wrap);
            margin-bottom: 10px;
            .icon-txt {
                @include flex();
                @include align-items(center);
                color: $main-color;
                font-size: 17px;
                i {
                    margin-right: 5px;
                }
            }
        }
        .notes {
            font-size: 14px;
            margin-bottom: 10px;
        }
        .list {
            @include flex();
            @include flex-wrap(wrap);
            margin: -7px;
            .item {
                width: calc(50% - 14px);
                margin: 7px;
                position: relative;
                color: inherit;
                .icon {
                    position: absolute;
                    z-index: 10;
                    color: #fff;
                    right: 10px;
                    top: 10px;
                    text-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
                    @include transition();
                    cursor: pointer;
                    &:hover {
                        color: $main-color;
                    }
                }
                img {
                    width: 100%;
                    margin-bottom: 5px;
                }
                .hashtag {
                    font-size: 14px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: block;
                    @include transition();
                }
                &:hover .hashtag {
                    color: $main-color;
                }
                &.active .icon {
                    color: $main-color;
                    text-shadow: none;
                    &:before {
                        content: "\e92e";
                    }
                }
            }
        }
    }
    .rate-d {
        border-bottom: 1px solid $border-color;
        padding-bottom: 5px;
        .title {
            @include flex();
            @include align-items(center);
            border-bottom: 1px solid $border-color;
            padding: 25px 0;
            .name {
                font-size: 17px;
                margin-right: 20px;
            }
            .tp-rate .stars {
                font-size: 16px;
                i {
                    margin-right: 6px;
                }
            }
        }
        .list .item {
            border-bottom: 1px solid $border-color;
            padding: 25px 0;
            .info-rate {
                @include flex();
                @include align-items(center);
                margin-bottom: 17px;
                figure {
                    margin: 0 13px 0 0;
                    img {
                        width: 48px;
                        border-radius: 100px;
                    }
                }
                .info {
                    @include flex-grow("1 0");
                    .name {
                        font-size: 15px;
                        margin-bottom: 1px;
                    }
                    .date-stars {
                        @include flex();
                        @include align-items(center);
                        .date {
                            font-size: 11px;
                            color: $primary-text-color;
                            margin-right: 12px;
                        }
                    }
                }
            }
            .content-rate {
                background: transparent;
                font-size: 15px;
            }
        }
        .paging {
            font-size: 15px;
            padding: 20px 0 15px;
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                @include flex();
                @include flex-wrap(wrap);
            }
            li {
                padding: 3px 5px;
                border: 1px solid #6D6D6D;
                margin-right: 5px;
                margin: 0 5px 5px 0;
                text-align: center;
                min-width: 30px;
                @include transition();
                &:hover, &.active {
                    border-color: $main-color;
                    color: $main-color;
                }
                &:hover a {
                    color: $main-color;
                }
                &.prev,
                &.next {
                    padding-left: 20px;
                    padding-right: 20px;
                }
                &.dots {
                    border-color: transparent;
                    &:hover {
                        color: $text-color;
                    }
                }
                a {
                    color: $text-color;
                    display: block;
                    outline: none;
                }
            }
        }
    }
    .map-d {
        padding: 20px 0;
        .title {
            font-size: 17px;
            margin-bottom: 15px;
        }
        #map-canvas-detail {
            height: 280px;

            .map-detail-inner {
                background: #fff;
                padding: 8px 10px;
                border-radius: 2px;
                box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.25);
                position: relative;
                white-space: nowrap;
                &:before {
                    color: #fff;
                    content: '';
                    width: 0px;
                    height: 0px;
                    border-left: 6px solid transparent;
                    border-right: 6px solid transparent;
                    border-top: 7px solid;
                    position: absolute;
                    bottom: -7px;
                    left: 50%;
                    @include transform(translateX(-50%));
                }
                .name {
                    font-size: 14px;
                    font-weight: 400;
                    margin-bottom: 5px;
                }
                .address {
                    font-size: 12px;
                    font-weight: 300;
                }
            }
        }
    }
    .address-d {
        padding-bottom: 20px;
        border-bottom: 1px solid #EDF1F4;
        .name {
            font-size: 18px;
            font-weight: 400;
            margin-bottom: 5px;
            display: flex;
            align-items: center;
            i {
                font-size: 22px;
                margin-right: 10px;
            }
        }
        .address {
            font-size: 16px;
            margin-left: 27px;
        }
    }
    .cart-mobile {
        position: fixed;
        bottom: 0;
        left: 0;
        background: #fff;
        width: 100%;
        z-index: 999;
        .no-choice-service {
            border-top: 1px solid #EDF1F4;
            display: flex;
            padding: 5px;
            a {
                font-size: 14px;
                margin: 5px;
                padding: 0;
                width: calc(50% - 10px);
                i {
                    font-size: 20px;
                    margin: 0 10px 3px 0;
                }
            }
        }
        .wrap-book {
            .title-book {
                @include flex();
                @include align-items(center);
                @include justify-content(space-between);
                padding: 0 25px;
                height: 45px;
                border-bottom: 1px solid $border-color;
                display: none;
                span {
                    font-size: 13px;
                }
                i {
                    font-size: 13px;
                    cursor: pointer;
                    padding: 10px 0 10px 10px;
                    @include transition();
                }
            }

            .content-book {
                max-height: calc(100vh - 45px);
                overflow-y: auto;
            }

            .service-stylist {
                display: none;
            }
            .list-service {
                margin: 0 25px;
                padding: 10px 0;
                border-bottom: 1px solid $border-color;
            }
            .list-stylist {
                .name-box {
                    font-size: 15px;
                    margin: 10px 25px;
                }
                .list {
                    @include flex();
                    overflow-x: auto;
                    padding: 0 13px 13px;
                }
                .item {
                    margin: 0 12px;
                    width: 48px;
                    figure {
                        width: 48px;
                        height: 48px;
                        margin: 0 0 5px;
                        img {
                            border-radius: 50%;
                            width: 100%;
                        }
                    }
                    .name {
                        font-size: 10px;
                        margin: 0 -8px;
                        direction: rtl;
                        text-align: center;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                    &.active figure {
                        position: relative;
                        &:before {
                            position: absolute;
                            content: "\e903";
                            font-family: 'bzone' !important;
                            speak: none;
                            font-style: normal;
                            font-weight: normal;
                            font-variant: normal;
                            text-transform: none;
                            -webkit-font-smoothing: antialiased;
                            -moz-osx-font-smoothing: grayscale;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background: rgba(53, 53, 53, 0.7);
                            color: #fff;
                            text-align: center;
                            line-height: 48px;
                            font-size: 19px;
                            border-radius: 100px;
                        }
                    }
                }
            }
            .choice-time {
                @include flex();
                @include justify-content(space-between);
                @include align-items(center);
                margin: 0 25px;
                padding: 10px 0;
                border-top: 1px solid $border-color;
                .name {
                    font-size: 15px;
                }
                .chose {
                    color: $primary-text-color;
                    font-size: 13px;
                }
                .btn-time {
                    font-size: 13px;
                    border: 1px solid;
                    border-radius: 4px;
                    line-height: 30px;
                    padding: 0 12px;
                    color: $primary-text-color;
                    cursor: pointer;
                    &.active {
                        color: $main-color;
                    }
                }
            }
            .discount-code {
                border-top: 1px solid $border-color;
                margin: 0 25px;
                padding: 10px 0;
                input {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                }
            }
            .btn-book {
                border-top: 1px solid $border-color;
                padding: 5px 25px 0;
                &.book-second {
                    display: none;
                }
            }
            .price-time {
                padding: 10px 25px;
            }
            .des-nochoice {
                font-size: 13px;
                padding: 5px 25px;
                margin: 0;
                color: $primary-color;
                text-align: center;
            }
        }
        &.active {
            top: 0;
            bottom: auto;
            height: 100vh;
            .wrap-book {
                height: 100vh;
                .title-book {
                    @include flex();
                }
                .service-stylist {
                    display: block;
                }
                .btn-book {
                    &.book-first {
                        display: none;
                    }
                    &.book-second {
                        display: block;
                    }
                }
            }
        }
    }
    .related {
        .title-related {
            @include flex();
            @include justify-content(space-between);
            @include align-items(center);
            padding: 20px 25px;
            .title {
                font-size: 17px;
            }
            .control {
                .slick-disabled,
                .btn:hover {
                    color: rgba(47, 47, 47, 0.5);
                }
            }
        }
        .related-slide {
            margin: 0 10px;
            .tp-salon {
                width: 100%;
                background: #fff;
            }
        }
    }
    .about-des-d {
        padding: 20px 0;
        border-bottom: 1px solid #EDF1F4;
        .title {
            font-size: 17px;
            margin-bottom: 15px;
        }
        .content-about {
            font-size: 15px;
            p:last-child {
                margin-bottom: 0;
            }
        }
    }
    .utilities-d {
        border-bottom: 1px solid $border-color;
        padding: 20px 0 15px 0;
        .title {
            font-size: 17px;
            margin-bottom: 8px;
        }
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            &.active {
                .view-all {
                    &.expand {
                        display: none;
                    }
                    &.collapse {
                        display: block;
                    }
                }
                li:nth-child(n + 5) {
                    @include flex();
                }
            }
        }
        li {
            width: 100%;
            padding: 8px 5px;
            @include flex();
            i {
                color: $main-color;
                font-size: 18px;
                margin-right: 10px;
            }
            span {
                font-size: 13px;
            }
            &.view-all-wrap {
                display: none;
            }
            .view-all {
                &.collapse {
                    display: none;
                }
                color: $main-color;
                @include flexInline();
                @include align-items(center);
                cursor: pointer;
                @include transition();
                &:hover {
                    color: $text-color;
                    i {
                       color: $text-color; 
                    }
                }
                i {
                    font-size: 7px;
                    margin-left: 5px;
                }
            }
            &:nth-child(n + 5) {
                display: none;
            }
            &:nth-child(5) ~ .view-all-wrap {
                display: block;
            }

        }
    }

    .working-d {
        border-bottom: 1px solid $border-color;
        padding: 20px 0;
        .title {
            font-size: 17px;
            margin-bottom: 8px;
        }
        .list {
            .item {
                font-size: 15px;
                display: flex;
                max-width: 200px;
                margin-bottom: 10px;
                &:last-child {
                    margin-bottom: 0;
                }
                span:first-child {
                    flex: 1 0;
                }
            }
        }
    }
    .chemical-d {
        padding: 20px 0;
        .title {
            font-size: 17px;
            margin-bottom: 8px;
        }
        .list {
            display: flex;
            flex-wrap: wrap;
            .item {
                text-align: center;
                padding: 0 25px 10px 0;
                max-width: 120px;
                img {
                    width: 40px;
                }
                span {
                    display: block;
                    font-size: 11px;
                    margin-top: 5px;
                }
            }
        }
    }

}

.calendar-slick {
    .slick-list,
    .slick-track {
        @include transform(none !important);
    }   
}