/*	[ Header ]
- - - - - - - - - - - - - - - - - - - - */
.wrapper-header {
    background: url(../images/bg-header.jpg) center no-repeat;
    background-size: cover;
    padding: 25px 25px 35px;
    .header {
		.inner {
			@include flex();
			@include align-items(center);
			@include justify-content(space-between);
		}
		.logo img {
		    width: 80px;
		}
		.account {
			color: #fff;
			font-size: 14px;
			@include transition();
			cursor: pointer;
		}
		.account:hover {
			color: $main-color;
		}
	}

	.slogan {
	    text-align: center;
	    margin-bottom: 35px;
	    .clock-icon {
		    width: 84px;
		    height: 84px;
		    border: 1px solid rgba(255, 255, 255, 0.2);
		    border-radius: 50%;
		    display: inline-block;
		    position: relative;
		    margin-top: 40px;
		    .line {
		    	&:before,
		    	&:after {
					content: '';
					height: 1px;
					background: #fff;
					display: block;
					position: absolute;
					top: 50%;
					left: 50%;
					transform-origin: left;
				}
				&:before {
					width: 11px;
					transform: rotate(-90deg);
				}
				&:after {
					width: 15px;
					transform: rotate(45deg);
					animation: clock 15s linear infinite;
				}
		    }
		    &:after,
			&:before {
				content: '';
				display: block;
				border-radius: 50%;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}

			&:after {
				border: 1px solid #fff;
				width: 47px;
				height: 47px;
			}
			&:before {
			    width: 65px;
			    height: 65px;
			    border: 1px solid rgba(255, 255, 255, 0.45);
			}
		}
		.text {
		    margin: 0;
		    color: #fff;
		    font-size: 24px;
		    font-weight: 100;
		    line-height: 1.3;
		}
	}

	.search {
		.wrap-input {
			margin-bottom: 10px;
			position: relative;
		}
		.btn-search {
		    margin: 0;
		    padding: 0;
		    width: 100%;
		    background: $main-color;
		    color: #fff;
		    border: none;
		    font-size: 15px;
		    line-height: 48px;
		    border-radius: 4px;
		    outline: none;
		    @include transition();
		    cursor: pointer;
		    &:hover {
				background:$text-color;
			}
			&.disabled {
			    pointer-events: none;
			}
		}
		.input {
		    background: #fff;
		    border-radius: 4px;
		    @include flex();
		    @include align-items(center);
		    i {
			    color: $main-color;
			    width: 50px;
			    text-align: center;
			    font-size: 17px;
			}
			input {
			    margin: 0;
			    padding: 0;
			    border: none;
			    outline: none;
			    height: 48px;
			    background: transparent;
			    font-size: 15px;
			    @include flex-grow("1 0");

				&::-webkit-input-placeholder {
					color: rgba(47, 47, 47, 0.4);
				}
				&::-moz-placeholder {
				    color: rgba(47, 47, 47, 0.4);
				}
				&:-ms-input-placeholder {
				    color: rgba(47, 47, 47, 0.4);
				}
				&:-moz-placeholder {
				    color: rgba(47, 47, 47, 0.4);
				}

			}
		}
		.wrap-input {
			&:hover .tp-search-result-2,
			&:hover .tp-search-result {
				display: block;
			}
			.tp-search-result-2,
			.tp-search-result {
			    top: calc(100% + 10px);
			    &:before {
					top: -15px;
					height: 15px;
				}
			}
		}
	}
}

@keyframes clock {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}

.landing-page {
	.guide-discovery {
	    background: #fff;
	}
	.guide-book {
	    border-bottom: 1px solid $border-color;
	    .item {
		    margin-bottom: 35px;
		    .number {
			    opacity: 0.3;
			    font-size: 42px;
			    width: 45px;
			    line-height: .7;
			    margin-top: 6px;
			}
			.content-item {
			    @include flex();
			}
			.name {
			    font-size: 17px;
			    padding-left: 45px;
			    position: relative;
			    margin-bottom: 10px;
			    &:before {
					content: '';
					display: block;
					width: 2px;
					height: 20px;
					background: $main-color;
					position: absolute;
					left: 11px;
					top: 50%;
					transform: translateY(-50%);
				}
			}
			.des {
			    font-size: 13px;
			    @include flex-grow("1 0");
			    margin: 0;
			}
		}
	}
	.discovery {
	    padding-bottom: 25px;
	    .list {
		    margin-bottom: 5px;
		}
		.item {
		    position: relative;
		    margin-bottom: 20px;
		    width: 100%;
		    figure {
			    margin: 0;
			    img {
				    width: 100%;
				}
			}
			.info {
			    position: absolute;
			    bottom: 15px;
			    left: 20px;
			    width: calc(100% - 40px);
			    background: #fff;
			    text-align: center;
			    padding: 9px 0;
			    h4 {
				    margin: 0 0 5px;
				    font-size: 17px;
				    font-weight: normal;
				    a {
						color: $text-color;
						&:hover {
						    color: $main-color;
						}
					}
				}
				span {
				    font-size: 12px;
				    color: $primary-text-color;
				    display: block;
				    line-height: 1;
				}
			}
		}
	}
	.savetime {
	    background: #F7F8FA;
	    padding: 50px 25px;
	    figure {
		    margin: 0 0 20px 0;
		    text-align: center;
		}
		.info {
		    @include flex-grow("1 0");
		    .name {
			    margin: 0 0 15px 0;
			    font-size: 24px;
			    font-weight: 300;
			    line-height: 1.3;
			}
			.des {
			    margin: 0 0 25px 0;
			    font-size: 13px;
			    line-height: 1.6;
			}
			.register-now {
			    display: block;
			    background: $text-color;
			    color: #fff;
			    text-align: center;
			    border-radius: 4px;
			    font-size: 17px;
			    line-height: 46px;
			    @include transition();
		        cursor: pointer;
			    &:hover {
					background: $main-color
				}
			}
		}
	}
	.tricks-beautiful {
	    background: #fff;
	    padding-bottom: 25px;
	    .item {
		    margin-bottom: 25px;
		    figure {
			    margin: 0 0 15px 0;
			    img {
				    width: 100%;
				}
			}
			h4 {
			    margin: 0 0 10px 10px;
			    a {
				    color: $text-color;
				    font-size: 17px;
				    font-weight: 300;
				    line-height: 1.2;
				    &:hover {
						color: $main-color;
					}
				}
			}
			.info {
			    font-size: 12px;
			    opacity: 0.5;
			    margin-left: 10px;
			    span {
				    border-right: 1px solid #EBF1F7;
				    padding-right: 20px;
				    margin-right: 20px;
				    &:last-child {
						border-right: none;
					    padding-right: 0;
					    margin-right: 0;
					}
				}
				a {
					color: $text-color;
					&:hover {
						color: $main-color;
					}
				}
			}
		}
	}
}