.searchfull-page {
	.stylist {
		width: 100%;
		overflow-x: auto;
		padding: 18px 0;
		background: #fff;
		.sub-container {
			@include flex();
			@include align-items(center);
		}
		.list {
		    @include flex();
		    @include align-items(center);
	        padding-left: 25px;
		}
		.item {
		    width: 224px;
			padding-right: 20px;
			@include flex();
			@include align-items(center);
			figure {
				margin: 0 20px 0 0;
				border-radius: 100px;
				overflow: hidden;
				width: 48px;
			}
			.info {
				h3 {
				    margin: 0 0 4px;
				    font-size: 15px;
				    font-weight: 300;
				    a {
					    color: $text-color;
					    &:hover {
							color: $main-color;
						}
					}
				}
				span {
				    font-size: 11px;
				    color: $primary-text-color;
				    display: block;
				}
			}
		}
		.tp-view-all {
		    padding-right: 25px;
		}
	}
	.services {
		width: 100%;
		overflow-x: auto;
		padding: 40px 0;
		background: #F0F0F0;
		.sub-container {
		    @include flex();
		    @include align-items(center);
		    &:after {
				content: '.';
				padding-left: 25px;
				width: 0;
				overflow: hidden;
		    }
		}
		.list {
			padding-left: 25px;
		    @include flex();
		}
		.item {
			width: 230px;
		    background: #fff;
		    margin-right: 20px;
		    border-radius: 5px;
		    padding: 25px;
			h3 {
			    margin: 0 0 8px 0;
			    font-size: 17px;
			    font-weight: normal;
			    line-height: 1;
			    a {
				    color: $text-color;
				    &:hover {
						color: $main-color;
					}
				}
			}
			span {
			    display: block;
			    font-size: 12px;
			    line-height: 1;
			}
		}
		.tp-view-all {
		    background: #fff;
		    border-radius: 5px;
		    @include align-self(stretch);
		    @include flex();
		    @include flex-direction(column);
		    @include justify-content(center);
		    text-align: center;
			padding: 0 60px;
		}
	}
	.salons {
	    background: #fff;
	    .list {
		    padding: 15px 10px;
		}
		.item {
		    margin-bottom: 30px;
		    width: 100%;
		    figure {
			    margin: 0;
			    img {
				    width: 100%;
				}
			}
			.info {
			    border: 1px solid #EBF1F7;
			    border-top: none;
			    .name-adress {
				    border-bottom: 1px solid #EBF1F7;
				    padding: 15px 20px;
				    h3 {
					    margin: 0 0 5px;
					    font-size: 17px;
					    font-weight: 300;
					    a {
						    color: $text-color;
						    &:hover {
								color: $main-color;
							}
						}
					}
					p {
					    margin: 0;
					    font-size: 12px;
					}
				}
				.price {
				    border-bottom: 1px solid #EBF1F7;
				    padding: 15px 20px;
				    strong {
					    display: block;
					    font-size: 17px;
					    font-weight: 300;
					}
					span {
					    display: block;
					    font-size: 12px;
					    color: $primary-text-color;
					    line-height: 1;
					    margin-bottom: 1px;
					}
				}
				.rate {
				    padding: 15px 20px;
				}
			}
		}
	}
}

