.stylists-page .stylists {
    .stylist-item {
        background: #fff;
        padding: 40px 16px 23px;
        margin-bottom: 10px;
    }
    .avata-info {
        @include flex();
        @include align-items(center);
        margin-bottom: 30px;
        figure {
            margin: 0 25px 0 0;
            width: 90px;
            img {
                border-radius: 100px;
            }
        }
        .info {
            @include flex-grow("1 0");
        }
        h2 {
            font-weight: 300;
            font-size: 17px;
            margin: 0;
            a {
                color: $text-color;
                font-weight: 300;
                &:hover {
                    color: $main-color;
                }
            }
        }
        .salon-name {
            font-size: 14px;
            color: #6A6C6C;
            margin: 10px 0;
        }
        .rate {
            line-height: 1.3;
        }
    }
    .images {
        @include flex();
        overflow-x: auto;
        @include flex-grow("1 0");
        figure {
            margin: 0 20px 0 0;
            &:last-child {
                margin-right: 0;
            }
        }
        img {
            width: 173px;
            max-width: none;
            border-radius: 5px;
        }
    }
}