/*	[ Content ]
- - - - - - - - - - - - - - - - - - - - */
body {
	font-family: 'Roboto', sans-serif;
	color: $text-color;
	background: $background-color;
	font-weight: 300;
}
a {
	@include transition();
	&:focus,
	&:active,
	&:hover {
		text-decoration: none;
	}
}
img {
	max-width: 100%;
}
.main-color {
	color: $main-color;
}
.ofhd {
	overflow: hidden;
}
button.fancybox-arrow {
	outline: none;
}
.modal-body-inner {
	padding: 20px;
}
.tp-modal-close {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    font-size: 13px;
    padding: 15px;
    z-index: 9;
    @include transition();
}
.tp-modal-close:hover {
	color: $main-color;
}

/*	[ Language ]
- - - - - - - - - - - - - - - - - - - - */
.tp-account-lang {
	@include flex();
    @include align-items(center);
	.account {
		color: #fff;
		font-size: 14px;
		@include transition();
		cursor: pointer;
		margin-left: 15px;
		&:hover {
			color: $main-color;
		}
		span {
			display: none;
		}
		i {
			font-size: 28px;
			display: block;
		}
	}

	.lang {
	    position: relative;
	    font-size: 14px;
		.selected {
		    color: #fff;
		    @include transition();
		    cursor: pointer;
		    border-radius: 50%;
			width: 23px;
			padding: 3px 0 3px;
			text-align: center;
			font-size: 10px;
		    &:hover {
		    	color: $main-color;
		    	border-color: $main-color; 
		    }
		    &:before {
				font-family: 'bzone' !important;
				speak: none;
				font-style: normal;
				font-weight: normal;
				font-variant: normal;
				text-transform: none;
				line-height: 1;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				content: "\e90c";
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				font-size: 24px;
			}
		}
		ul {
			padding: 0;
			margin: 0;
			list-style: none;
			position: absolute;
			background: #fff;
			top: calc(100% + 5px);
		    width: 40px;
			text-align: center;
			display: none;
			border-radius: 2px;
		    z-index: 10;
		    left: 50%;
    		transform: translateX(-50%);
			a {
				color: $text-color;
				display: block;
				padding: 3px 10px;
				&:hover {
					color: $main-color;
				}
			}
		}
		&.active ul {
			display: block;
		}
	}
}

/*	[ Success ]
- - - - - - - - - - - - - - - - - - - - */
.tp-modal-success {
	text-align: center;
	.name-success {
		font-size: 22px;
	    margin-bottom: 20px;
	    color: #54B2B0;
	}
	.tp-btn {
		max-width: 250px;
    	margin: auto;
	}
	.des-success {
	    font-size: 16px;
    	margin-bottom: 15px;
	}
	.name-mobile {
	    font-size: 16px;
	    margin-bottom: 10px;
	    border-top: 1px solid #EDF1F4;
	    margin-top: 20px;
	    padding-top: 20px;
	}
	.gift-bzone {
		text-align: left;
	    border-bottom: 1px solid #EDF1F4;
	    margin-bottom: 15px;
	    padding-bottom: 15px;
	    strong {
	    	font-weight: 600;
	    }
		.title-gift {
			margin-bottom: 10px;
		}
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				position: relative;
    			padding: 0 0 5px 32px;
				&:before {
				    content: '\e903';
				    font-family: 'bzone'!important;
				    speak: none;
				    font-style: normal;
				    font-weight: normal;
				    font-variant: normal;
				    text-transform: none;
				    line-height: 1;
				    -webkit-font-smoothing: antialiased;
				    -moz-osx-font-smoothing: grayscale;
				    top: 7px;
				    left: 0;
				    font-size: 10px;
				    position: absolute;
				}
			}
		}

	}
	.complete-info {
		margin-bottom: 20px;
	    strong {
	    	font-weight: 600;
	    }
	}
}

/*	[ Staff ]
- - - - - - - - - - - - - - - - - - - - */
.tp-modal-staff {
	text-align: center;
	.avata {
		width: 150px;
		margin: 0 auto 10px;
		img {
			border-radius: 100px;
		}
	}
	.info {
		flex: 1 0;
		.name {
			font-size: 16px;
    		font-weight: 400;
		}
		.position {
			font-size: 14px;
		}
		.social {
			display: flex;
			justify-content: center;
    		margin: 10px 0 25px;
			a {
				margin: 0 5px;
    			color: inherit;
    			&:hover {
    				color: #54B2B0;
    			}
    			i {
    				display: block;
    			}
			}
		}
		.des {
			text-align: left;
    		font-size: 15px;
		}
	}
}

/*	[ Choice account type ]
- - - - - - - - - - - - - - - - - - - - */
#modal-choice-account {
	.modal-body-inner {
		text-align: center;
	}
	.modal-body {
		.salon {
			border-bottom: 1px solid $border-color;
			padding-bottom: 40px;
			.des {
			    font-size: 18px;
			    margin-bottom: 20px;
			}
		}
		.user {
			padding: 30px 0 0;
			.des {
			    font-size: 18px;
			    margin-bottom: 10px;
			}
			p {
				font-size: 14px;
			    color: $primary-text-color;
			    margin: 0 0 10px 0;
			}
		}

		.tp-btn {
			max-width: 250px;
			margin: 0 auto;
		}
	}
}

/*	[ Fix bug re-install Slick slide ]
- - - - - - - - - - - - - - - - - - - - */
.slick-slide > div > div {
    display: block !important;
}

/*	[ Input form ]
- - - - - - - - - - - - - - - - - - - - */
.tp-title-form {
	font-size: 20px;
    padding: 0px 0 20px;
    text-align: center;
}

.tp-text-form {
    display: block;
    width: 100%;
    border: 1px solid $border-color;
    border-radius: 4px;
    height: 50px;
    padding: 0 20px;
    font-size: 16px;
    outline: none;
    margin: 10px 0;
    @include transition();
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
    &:focus {
		border-color: $main-color;
	}

	&::-webkit-input-placeholder {
	  color: rgba(47, 47, 47, 0.4);
	  font-size: 15px;
	}

	&::-moz-placeholder {
	  color: rgba(47, 47, 47, 0.4);
	  font-size: 15px;
	}

	&:-ms-input-placeholder {
	  color: rgba(47, 47, 47, 0.4);
	  font-size: 15px;
	}

	&:-moz-placeholder {
	  color: rgba(47, 47, 47, 0.4);
	  font-size: 15px;
	}
}
.tp-checkbox-txt {
    display: flex;
    margin: 20px 0 20px;
	.tp-checkbox {
		margin-right: 5px;
		transform: scale(0.7);
	}
	span {
		font-size: 14px;
    	margin-top: 2px;
	}
}
.tp-gender-form {
    @include flex();
    @include align-items(center);
    margin: 20px 0;
	.gender-item {
	    @include flex();
	    @include align-items(center);
	    margin: 0 40px 0 0;
	}
	input {
	    margin-right: 10px;
	}
	span {
		font-size: 13px;
	}
}

.tp-des-form {
    font-size: 14px;
    color: $primary-text-color;
    margin-bottom: 20px;
    text-align: center;
}

.tp-send-form {
	text-align: center;
    margin-top: 15px;
	a {
		color: $primary-color;
		font-size: 13px;
	    text-align: center;
	    &:hover {
	    	color: $text-color;
	    }
    }
}
.tp-back-form {
    font-size: 13px;
    text-align: center;
    margin-top: 5px;
    cursor: pointer;
    &:hover {
    	color: $main-color;
    }
}

/*	[ Layout ]
- - - - - - - - - - - - - - - - - - - - */
.tp-bigcontainer {
	padding-left: 10px;
	padding-right: 10px;
}

/*	[ Title ]
- - - - - - - - - - - - - - - - - - - - */
.tp-pagetitle {
	margin: 0;
    font-size: 20px;
    font-weight: 300;
    padding: 17px 0;
}

/*	[ Button ]
- - - - - - - - - - - - - - - - - - - - */
.tp-btn-book {
	@include flex();
    @include justify-content(center);
    @include align-items(center);
    background: $main-color;
    color: #fff;
    font-size: 17px;
    line-height: 45px;
    border-radius: 5px;
    @include transition();
    cursor: pointer;
    border: none;
    padding: 0 15px;
    margin: 0;
    font-weight: 300;
    outline: none;
    i {
	    margin: 0 12px 4px 0;
	    font-size: 22px;
    }
    &.red {
    	background: $primary-color;
    }
    &:focus {
    	color: #fff;
    }
    &:hover {
    	background: $text-color;
    	color: #fff;
    }
    &.disable {
    	background: #ccc;
    	pointer-events: none;
    }
}
.tp-btn {
    background: $main-color;
	display: block;
    color: #fff;
    font-size: 17px;
    line-height: 45px;
    border-radius: 5px;
    @include transition();
    cursor: pointer;
    border: none;
    padding: 0 15px;
    margin: 0;
    font-weight: 300;
    text-align: center;
    outline: none;
    width: 100%;
    &.red {
    	background: $primary-color;
    }
    &:focus {
    	color: #fff;
    }
    &:hover {
    	background: $text-color;
    	color: #fff;
    }
}

/*	[ Control ]
- - - - - - - - - - - - - - - - - - - - */
.tp-control {
    @include flex();
    .btn {
        border: 1px solid;
        border-radius: 100px;
        text-align: center;
        cursor: pointer;
        @include transition();
        padding: 14px 0;
        &:before {
            content: '';
            display: block;
            width:0px;
            height:0px;
            border-bottom: 10px solid transparent;
            border-top: 10px solid transparent;
        }
    }
    .next{
        padding-left: 18px;
        padding-right: 16px;
        &:before {
            border-left: 14px solid;
        }
    }
    .prev{
        margin-right: 15px;
        padding-left: 16px;
        padding-right: 18px;
        &:before {
            border-right: 14px solid;
        }
    }
    &.small {
    	.btn {
    		padding: 8px 0;
    		&:before {
	            border-bottom-width: 6px;
	            border-top-width: 6px;
    		}
    	}
	    .next{
            padding-left: 11px;
			padding-right: 9px;
	        &:before {
	            border-left-width: 8px;
	        }
	    }
	    .prev{
	        margin-right: 15px;
		    padding-left: 9px;
		    padding-right: 11px;
	        &:before {
	            border-right-width: 8px;
	        }
	    }

    }
}

/*	[ Blog item ]
- - - - - - - - - - - - - - - - - - - - */
.tp-blogitem {
	figure {
		margin: 0;
		img {
			width: 100%;
			border-radius: 4px 4px 0 0;
		}
	}
	.info {
		border-top: none;
		padding: 15px 18px 25px;
		border-radius: 0 0 4px 4px;
		h2 {
			font-size: 17px;
			font-weight: 300;
			margin: 0 0 15px 0;
			line-height: 1.3;
			a {
				color: $text-color;
				&:hover {
					color: $main-color;
				}
			}
		}
		.des {
			font-size: 14px;
			color: $primary-text-color;
			margin-bottom: 10px;
		}
	}
	.view-more a {
		color: $main-color;
		font-size: 13px;
		&:hover {
			color: $text-color;
		}
	}
}

/*	[ Landing ]
- - - - - - - - - - - - - - - - - - - - */
.tp-box {
    padding: 40px 25px 0;
}
.tp-wrap-title {
	margin-bottom: 20px;
	@include flex();
	@include align-items(center);
	@include justify-content(space-between);
	.tp-view-more {
	    display: none;
	}
}
.tp-title {
    font-size: 24px;
    font-weight: 100;
    line-height: 1.3;
    margin: 0;
    strong {
		font-weight:bold;
	}
}
.tp-view-more {
	text-align: right;
	a {
	    color: $text-color;
	    font-size: 15px;
	    position: relative;
	    display: inline-block;
	    &:hover {
			color: $main-color;
		}
		&:before {
			content: '';
			display:block;
			position: absolute;
			width: 10px;
			height: 1px;
			background: $main-color;
			bottom: 7px;
			left: -17px;
		}
	}
}
.orange.tp-view-more a:before {
	background: #E6AD85;
}
.tp-view-all {
	a {
		color: $text-color;
		font-size: 15px;
		&:hover {
			color: $main-color;
		}
	}
	span {
		display: block;
		line-height: 1;
	    white-space: nowrap;
	}
	i {
		font-size: 11px
	}
}

/*	[ Scroll up ]
- - - - - - - - - - - - - - - - - - - - */
.tp-scrollup {
	@include flex();
	@include align-items(center);
	cursor: pointer;
	&:before,
	&:after{
		content: '';
		@include flex-grow("1 0 auto");
		height: 1px;
		background: $primary-border-color;
	}
	i {
		border: 1px solid $primary-border-color;
		width: 21px;
    	line-height: 19px;
		border-radius: 50px;
		font-size: 7px;
		text-align: center;
		color: #6D6D6D;
		@include transition();
	}
}

/*	[ Rate ]
- - - - - - - - - - - - - - - - - - - - */
.tp-rate {
	.rate-status {
	    font-size: 12px;
	    color: $primary-text-color;
	}
	.stars-number {
	    @include flex();
	    @include flex-wrap(wrap);
	    @include align-items(center);
	    .stars {
		    font-size: 13px;
		    color: $main-color;
		    @include flex();
		    @include align-items(center);
		    i {
				margin-right: 2px;
				position: relative;
				&:last-child {
					margin-right: 0;
				}
			}
			&.star-0 {
				color: #ccc;
			}
			&.star-05 i{
				&:nth-child(1) {
					&:after {
						content: "\e90d";
						color: #ccc;
						left: 50%;
						top: 0;
						width: 50%;
						overflow: hidden;
						position: absolute;
						direction: rtl;
						z-index: 1;
					}
				}
				&:nth-child(2),
				&:nth-child(3),
				&:nth-child(4),
				&:nth-child(5) {
					color: #ccc;
				}
			}

			&.star-10 i{
				&:nth-child(2),
				&:nth-child(3),
				&:nth-child(4),
				&:nth-child(5) {
					color: #ccc;
				}
			}

			&.star-15 i{
				&:nth-child(2) {
					&:after {
						content: "\e90d";
						color: #ccc;
						left: 50%;
						top: 0;
						width: 50%;
						overflow: hidden;
						position: absolute;
						direction: rtl;
						z-index: 1;
					}
				}
				&:nth-child(3),
				&:nth-child(4),
				&:nth-child(5) {
					color: #ccc;
				}
			}

			&.star-20 i{
				&:nth-child(3),
				&:nth-child(4),
				&:nth-child(5) {
					color: #ccc;
				}
			}

			&.star-25 i{
				&:nth-child(3) {
					&:after {
						content: "\e90d";
						color: #ccc;
						left: 50%;
						top: 0;
						width: 50%;
						overflow: hidden;
						position: absolute;
						direction: rtl;
						z-index: 1;
					}
				}
				&:nth-child(4),
				&:nth-child(5) {
					color: #ccc;
				}
			}

			&.star-30 i{
				&:nth-child(4),
				&:nth-child(5) {
					color: #ccc;
				}
			}

			&.star-35 i{
				&:nth-child(4) {
					&:after {
						content: "\e90d";
						color: #ccc;
						left: 50%;
						top: 0;
						width: 50%;
						overflow: hidden;
						position: absolute;
						direction: rtl;
						z-index: 1;
					}
				}
				&:nth-child(5) {
					color: #ccc;
				}
			}

			&.star-40 i{
				&:nth-child(5) {
					color: #ccc;
				}
			}

			&.star-45 i{
				&:nth-child(5) {
					&:after {
						content: "\e90d";
						color: #ccc;
						left: 50%;
						top: 0;
						width: 50%;
						overflow: hidden;
						position: absolute;
						direction: rtl;
						z-index: 1;
					}
				}
			}

		}
		.number {
		    font-size: 13px;
		    margin-left: 5px;
		}
	}
}


/*	[ Salon ]
- - - - - - - - - - - - - - - - - - - - */
.tp-salon {
    .img-price {
    	position: relative;
    }
	.price-rate {
		.price {
		    position: absolute;
		    top: 10px;
		    right: 10px;
		    background: #fff;
		    border-radius: 4px;
		    padding: 8px 20px;
		    min-width: 140px;
		    z-index: 20;
		    span {
				display: block;
				font-size: 12px;
				color: $primary-text-color;
				line-height: 1;
				margin-bottom: 5px;
				b {
					font-weight: 300;
				    margin-left: 5px;
				    text-decoration: line-through;
				}
			}
			strong {
			    display: block;
			    font-size: 17px;
			    font-weight: 300;
			    line-height: 1;
			}
			&.sale-off strong {
				color: $primary-color;
			}
		}
		.rate {
			position: absolute;
			bottom: -56px;
			right: 25px;
			text-align: right;
			pointer-events: none;
		    .stars-number {
		    	@include justify-content(flex-end);
		    	margin-bottom: 7px;
		    	.stars {
		    		margin-right: 0;
		    	}
		    }
		    .number {
		    	display: none;
		    }
		}
	}
	.wrap-info {
		.name-address {
		    border-bottom: 1px solid $border-color;
		    padding: 15px 25px;
		    .salon-name-address {
		    	margin-right: 90px;
		    }
			.salon-name {
			    margin: 0 0 5px;
			    font-size: 17px;
			    font-weight: 300;
			    a {
				    color: $text-color;
				    &:hover {
						color: $main-color;
					}
				}
			}
			.address {
			    margin: 0 0 5px;
			    font-size: 12px;
			    color: $primary-text-color;
			    text-overflow: ellipsis;
			    white-space: nowrap;
			    overflow: hidden;
			}
			.des {
				font-size: 12px;
				margin-top: 8px;
				height: 54px;
		    	display: none;
    			overflow: hidden;
			}
		}
		.list-price {
			font-size: 15px;
			padding: 0 25px;
			.item {
				@include flex();
				border-bottom: 1px solid $border-color;
				padding: 10px 0;
				color: $text-color;
				&:hover {
					color: $main-color;
				}
				&:last-child {
					border-bottom: none;
				}
				.name-time {
					@include flex-grow("1 0");
				    margin-right: 10px;
					.time {
						font-size: 12px;
						color: $primary-text-color;
					}
				}
				.price-save {
					text-align: right;
					.save {
						font-size: 12px;
						color: $main-color;
					}
				}
			}
		}
	}
	&.unverified {
		padding-bottom: 0;
		.wrap-info .name-address .salon-name-address {
			margin-right: 0;
		}
	}
}

/*	[ Action unverified ]
- - - - - - - - - - - - - - - - - - - - */
.tp-unverified {
	font-size: 13px;
	.child {
		@include flex();
		@include align-items(center);
		padding: 10px 25px;
		border-bottom: 1px solid $border-color;
		.des {
			@include flex-grow("1 0");
		}
		.btn-action {
			@include flex();
			@include align-items(center);
			white-space: nowrap;
			width: 90px;
		    border: 1px solid $border-color;
		    border-radius: 2px;
		    padding: 7px 8px;
		    margin-left: 10px;
		    @include transition();
		    cursor: pointer;
		    i {
		    	color: $main-color;
		    	margin-right: 5px;
		    }
		    &:hover {
		    	border-color: $main-color;
		    }
		}
		&:last-child {
			border-bottom: none;
		}
	}
}

/*	[ Action unverified ]
- - - - - - - - - - - - - - - - - - - - */
.tp-discount-code {
    input {
		-webkit-appearance: textfield;
		-moz-appearance: textfield;
		appearance: textfield;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
        outline: none;
        border: 1px solid $border-color;
        width: 100%;
        border-radius: 2px;
        padding: 8px 10px;
        font-size: 16px;
        @include transition();
        &:focus {
        	border-color: $main-color;
        }

        &::-webkit-search-cancel-button {
            -webkit-appearance: searchfield-cancel-button;
        }

        &::-webkit-input-placeholder {
            font-weight: 300;
        }
        &::-moz-placeholder {
            font-weight: 300;
        }
        &:-ms-input-placeholder {
            font-weight: 300;
        }
        &:-moz-placeholder {
            font-weight: 300;
        }
    }
    p {
        margin: 5px 0 0;
        font-size: 13px;
    }
    .error {
        color: $primary-color;
    }
    .success {
        color: $main-color;
    }
}

/*	[ Img slide ]
- - - - - - - - - - - - - - - - - - - - */
.tp-img-slide {
	position: relative;
    margin: 0;
    img {
    	width: 100%;
    }
    .slide-salon:not(.slick-initialized) div:nth-child(n+2) {
    	display: none;
    }
    .slide-control {
		position: absolute;
		bottom: 10px;
		right: 10px;
		z-index: 10;
		color: #fff;
		display: none;
	    .slick-disabled, 
	    .btn:hover {
		    color: rgba(47, 47, 47, 0.5);
		}
    }
    .slick-initialized + .slide-control {
    	display: block;
    }
    .utilities {
    	position: absolute;
	    top: 0;
	    left: 10px;
	    height: 100%;
	    color: #fff;
	    overflow: hidden;
	    z-index: 10;
    	i {
			display: block;
			margin: 15px 0;
			font-size: 25px;
    	}
    }
}


/*	[ View ]
- - - - - - - - - - - - - - - - - - - - */
.tp-view {
	@include flex();
	@include align-items(center);
	@include justify-content(space-between);
	i {
		font-size: 14px;
		color: $main-color;
		margin-right: 5px;
	}
	div {
		@include flex();
		@include align-items(center);
	}
	.viewing i {
		background: $main-color;
		color: #fff;
	    font-size: 7px;
	    text-align: center;
	    line-height: 15px;
	    width: 15px;
	    border-radius: 50%;
	}
	.viewed i {
		font-size: 13px;
		color: $main-color;
	}
	span {
		font-size: 12px;
	}
}

/*	[ Choice service ]
- - - - - - - - - - - - - - - - - - - - */
.tp-choice-service {
	padding: 10px 0;
	.name {
		font-size: 15px;
		margin-bottom: 5px;
		position: relative;
		@include flex();
		@include align-items(center);
		.delete {
			background: $text-color;
			width: 24px;
			min-width: 24px;
			height: 24px;
			border-radius: 5px;
			@include flex();
			@include justify-content(center);
			@include align-items(center);
			margin-right: 15px;
			@include transition();
			cursor: pointer;
			&:hover {
				background: $main-color;
			}
		    &:before {
	    	    content: '';
			    background: #fff;
			    width: 12px;
			    height: 2px;
			    display: block;
		    }
		}
	}
	.time-price {
		@include flex();
		@include justify-content(space-between);
		font-size: 13px;
		color: $primary-text-color;
		padding-left: 40px;
	}
}

/*	[ Price total ]
- - - - - - - - - - - - - - - - - - - - */
.tp-price-total {
	.price {
		@include flex();
	    @include align-items(center);
	    font-size: 17px;
	    @include justify-content(space-between);
	    margin-bottom: 5px;
	}
	.time {
		font-size: 13px;
	    color: $primary-text-color;
	    @include flex();
	    @include align-items(center);
	    @include justify-content(space-between);
	}
}

/*	[ Date time ]
- - - - - - - - - - - - - - - - - - - - */
.tp-datetime {
	.dates {
	    @include flex();
	    @include justify-content(space-between);
	    @include align-items(center);
	    color: $primary-text-color;
	    font-size: 13px;
	    padding: 20px 0;
        border-bottom: 1px solid $border-color;
		.item {
			cursor: pointer;
			@include transition();
			&.active{
				color: $main-color;
    			font-weight: 500;
			}
			&.calendar-btn{
				@include flex();
			    @include align-items(center);
			    border: 1px solid;
			    border-radius: 4px;
			    line-height: 30px;
			    padding: 0 10px;
				i {
					font-size: 16px;
    				margin-right: 7px;
				}
			}
			&:hover {
				color: $main-color;
				border-color: $main-color;
			}
		}
	}
	.times {
		@include flex();
		@include flex-wrap(wrap);
		color: $primary-text-color;
		font-size: 12px;
		margin: 0 -5px;
		padding: 15px 0;
		.item {
			border: 1px solid $border-color;
		    border-radius: 4px;
		    width: calc(16.66% - 10px);
		    text-align: center;
		    line-height: 27px;
		    margin: 5px;
		    cursor: pointer;
		    @include transition();
		    &.active,
			&:hover {
				color: $main-color;
				border-color: $main-color;
			}
		}
	}

	.empty {
	    color: $primary-text-color;
	    font-weight: 300;
	    padding: 0 20px 30px;
	    display: block;
	    text-align: center;
	    font-size: 12px;
		strong{
			font-weight: 400;
		}
	}

}

/*	[ Checkbox ]
- - - - - - - - - - - - - - - - - - - - */
.tp-checkbox {
    border: 2px solid $main-color;
    border-radius: 5px;
    width: 24px;
    height: 24px;
    position: relative;
    cursor: pointer;
	input {
	    width: 20px;
	    height: 20px;
	    cursor: pointer;
	    opacity: 0;
		&:checked + span:after {
		    opacity: 1;
		}
	}
	span:after {
	    position: absolute;
	    content: "\e903";
	    font-family: 'bzone' !important;
	    speak: none;
	    font-style: normal;
	    font-weight: normal;
	    font-variant: normal;
	    text-transform: none;
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    background: rgb(84, 178, 176);
	    color: #fff;
	    text-align: center;
	    font-size: 9px;
	    line-height: 1;
	    padding-top: 6px;
	    opacity: 0;
        pointer-events: none;
        z-index: 2;
	}
	&.check-plus {
		&:before,
		&:after {
		  content: '';
		  position: absolute;
		  background: #54b1af;
		  z-index: 1;
		  pointer-events: none;
		}
		&:before {
		  width: 10px;
		  height: 2px;
		  left: 5px;
		  top: 9px;
		}
		&:after {
		  width: 2px;
		  height: 10px;
		  left: 9px;
		  top: 5px;
		}
	}
}

/*	[ Search result ]
- - - - - - - - - - - - - - - - - - - - */
.tp-search-result {
	background: #FFFFFF;
	border: 1px solid #F3F3F3;
	box-shadow: 0 4px 13px 0 rgba(0,0,0,0.10);
	border-radius: 4px;
	font-size: 15px;
	padding: 8px 0;
	position: absolute;
	width: 100%;
	z-index: 999;
	left: 0;
	&:before {
		content: '';
		position: absolute;
		left:0;
		width: 100%;
		z-index: 999;
	}
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		ul {
			li:hover > a {
			    background: $border-color
			}
			ul {
				position: absolute;
				top: -10px;
				left: 100%;
				width: 300px;
				background: #fff;
				box-shadow: 0 4px 13px 0 rgba(0,0,0,0.10);
				border-radius: 4px;
				display: none;
				padding: 10px 0;
				z-index: 999;
			}
		}
	}
	li {
	    position: relative;
	    a {
		    color: $text-color;
		    display: block;
		    padding: 5px 20px;
		}
		&:hover > ul {
			display: block;
		}
	}
	> ul > li {
		> ul {
			padding: 0 0 15px 0;
		}
		> a {
			font-weight: 500;
			font-size: 12px;
			text-transform: uppercase;
			border-bottom: 1px solid $border-color;
			margin: 0 20px;
			padding-left: 0;
			padding-right: 0;
		}
		&:hover > a {
			color: $main-color;
		}
	}
}

/*	[ Search result 2 ]
- - - - - - - - - - - - - - - - - - - - */
.tp-search-result-2 {
	background: #FFFFFF;
	border: 1px solid #F3F3F3;
	box-shadow: 0 4px 13px 0 rgba(0,0,0,0.10);
	border-radius: 4px;
	font-size: 15px;
	padding: 8px 0;
	position: absolute;
	width: 100%;
	z-index: 999;
	left: 0;
	&:before {
		content: '';
		position: absolute;
		left:0;
		width: 100%;
		z-index: 999;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		ul {
			position: absolute;
		    top: -10px;
		    left: 100%;
		    width: 300px;
		    background: #fff;
		    box-shadow: 0 4px 13px 0 rgba(0, 0, 0, 0.1);
		    border-radius: 4px;
		    display: none;
		    padding: 10px 0;
		    z-index: 999;
		    a {
		    	padding-top: 5px;
		    	padding-bottom: 5px;
		    }
		}
	}
	li {
		position: relative;
		&:hover {
			> a {
				background: $border-color;
			}	
			> ul {
				display: block;
			}
		}
	}
	a {
		display: block;
		color: $text-color;
		padding: 7px 20px;
	}
	> ul > li > a {
		font-weight: 500;
		font-size: 12px;
		text-transform: uppercase;
	}
}

/*	[ Date time popup ]
- - - - - - - - - - - - - - - - - - - - */
.datetime-popup {
	position: fixed;
    z-index: 999;
    bottom: 0;
    left: 0;
    background: rgba(53, 53, 53, 0.7);
    width: 100%;
    height: 100%;
    display: none;
    &.active {
    	display: block;
    }
    .flex-datetime {
	    position: relative;
	    height: 100%;
    }
    .close-outer {
    	width: 100%;
	    height: 100%;
    }
    .inner-datetime {
    	background: #fff;
	    padding: 0 25px;
	    position: absolute;
	    bottom: 0;
	    left: 0;
	    width: 100%;
	    z-index: 1;
    }
    .title-datetime {
    	@include flex();
	    @include justify-content(space-between);
	    border-bottom: 1px solid $border-color;
	    @include align-items(center);
	    height: 45px;
    	span {
    		font-size: 13px;
    	}
    	.close {
		    font-size: 12px;
    		padding: 10px 0 10px 10px;
    	}
    }
    .content-datetime {
    	.tp-datetime {
    		.dates {
	    		overflow-x: auto;
	    		@include justify-content(normal);
	    		white-space: nowrap;
	    		.item {
	    			margin-right: 40px;
	    		}
	    	}
	    	.times {
	    		max-height: 150px;
    			overflow-y: auto;
	    		.item {
		    		width: calc(25% - 10px);
		    	}
	    	}
		}
    }
}

/*	[ Loading ]
- - - - - - - - - - - - - - - - - - - - */
@-webkit-keyframes loading-wave-dots-2 {
	0% {
		-webkit-box-shadow: -32px 0 0 #bbb,-16px 0 0 #bbb,16px 0 0 #bbb,32px 0 0 #bbb;
		box-shadow: -32px 0 0 #bbb,-16px 0 0 #bbb,16px 0 0 #bbb,32px 0 0 #bbb;
	}
	5% {
		-webkit-box-shadow: -32px -4px 0 #bbb,-16px 0 0 #bbb,16px 0 0 #bbb,32px 0 0 #bbb;
		box-shadow: -32px -4px 0 #bbb,-16px 0 0 #bbb,16px 0 0 #bbb,32px 0 0 #bbb;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	10% {
		-webkit-box-shadow: -32px -6px 0 #999,-16px -4px 0 #bbb,16px 0 0 #bbb,32px 0 0 #bbb;
		box-shadow: -32px -6px 0 #999,-16px -4px 0 #bbb,16px 0 0 #bbb,32px 0 0 #bbb;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	15% {
		-webkit-box-shadow: -32px 2px 0 #bbb,-16px -2px 0 #999,16px 4px 0 #bbb,32px 4px 0 #bbb;
		box-shadow: -32px 2px 0 #bbb,-16px -2px 0 #999,16px 4px 0 #bbb,32px 4px 0 #bbb;
		-webkit-transform: translateY(-4px);
		transform: translateY(-4px);
		background-color: #bbb;
	}
	20% {
		-webkit-box-shadow: -32px 6px 0 #bbb,-16px 4px 0 #bbb,16px 2px 0 #bbb,32px 6px 0 #bbb;
		box-shadow: -32px 6px 0 #bbb,-16px 4px 0 #bbb,16px 2px 0 #bbb,32px 6px 0 #bbb;
		-webkit-transform: translateY(-6px);
		transform: translateY(-6px);
		background-color: #999;
	}
	25% {
		-webkit-box-shadow: -32px 2px 0 #bbb,-16px 2px 0 #bbb,16px -4px 0 #999,32px -2px 0 #bbb;
		box-shadow: -32px 2px 0 #bbb,-16px 2px 0 #bbb,16px -4px 0 #999,32px -2px 0 #bbb;
		-webkit-transform: translateY(-2px);
		transform: translateY(-2px);
		background-color: #bbb;
	}
	30% {
		-webkit-box-shadow: -32px 0 0 #bbb,-16px 0 0 #bbb,16px -2px 0 #bbb,32px -6px 0 #999;
		box-shadow: -32px 0 0 #bbb,-16px 0 0 #bbb,16px -2px 0 #bbb,32px -6px 0 #999;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	35% {
		-webkit-box-shadow: -32px 0 0 #bbb,-16px 0 0 #bbb,16px 0 0 #bbb,32px -2px 0 #bbb;
		box-shadow: -32px 0 0 #bbb,-16px 0 0 #bbb,16px 0 0 #bbb,32px -2px 0 #bbb;
	}
	40% {
		-webkit-box-shadow: -32px 0 0 #bbb,-16px 0 0 #bbb,16px 0 0 #bbb,32px 0 0 #bbb;
		box-shadow: -32px 0 0 #bbb,-16px 0 0 #bbb,16px 0 0 #bbb,32px 0 0 #bbb;
	}
	to {
		-webkit-box-shadow: -32px 0 0 #bbb,-16px 0 0 #bbb,16px 0 0 #bbb,32px 0 0 #bbb;
		box-shadow: -32px 0 0 #bbb,-16px 0 0 #bbb,16px 0 0 #bbb,32px 0 0 #bbb;
	}
}

@keyframes loading-wave-dots-2 {
	0% {
		-webkit-box-shadow: -32px 0 0 #bbb,-16px 0 0 #bbb,16px 0 0 #bbb,32px 0 0 #bbb;
		box-shadow: -32px 0 0 #bbb,-16px 0 0 #bbb,16px 0 0 #bbb,32px 0 0 #bbb;
	}
	5% {
		-webkit-box-shadow: -32px -4px 0 #bbb,-16px 0 0 #bbb,16px 0 0 #bbb,32px 0 0 #bbb;
		box-shadow: -32px -4px 0 #bbb,-16px 0 0 #bbb,16px 0 0 #bbb,32px 0 0 #bbb;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	10% {
		-webkit-box-shadow: -32px -6px 0 #999,-16px -4px 0 #bbb,16px 0 0 #bbb,32px 0 0 #bbb;
		box-shadow: -32px -6px 0 #999,-16px -4px 0 #bbb,16px 0 0 #bbb,32px 0 0 #bbb;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	15% {
		-webkit-box-shadow: -32px 2px 0 #bbb,-16px -2px 0 #999,16px 4px 0 #bbb,32px 4px 0 #bbb;
		box-shadow: -32px 2px 0 #bbb,-16px -2px 0 #999,16px 4px 0 #bbb,32px 4px 0 #bbb;
		-webkit-transform: translateY(-4px);
		transform: translateY(-4px);
		background-color: #bbb;
	}
	20% {
		-webkit-box-shadow: -32px 6px 0 #bbb,-16px 4px 0 #bbb,16px 2px 0 #bbb,32px 6px 0 #bbb;
		box-shadow: -32px 6px 0 #bbb,-16px 4px 0 #bbb,16px 2px 0 #bbb,32px 6px 0 #bbb;
		-webkit-transform: translateY(-6px);
		transform: translateY(-6px);
		background-color: #999;
	}
	25% {
		-webkit-box-shadow: -32px 2px 0 #bbb,-16px 2px 0 #bbb,16px -4px 0 #999,32px -2px 0 #bbb;
		box-shadow: -32px 2px 0 #bbb,-16px 2px 0 #bbb,16px -4px 0 #999,32px -2px 0 #bbb;
		-webkit-transform: translateY(-2px);
		transform: translateY(-2px);
		background-color: #bbb;
	}
	30% {
		-webkit-box-shadow: -32px 0 0 #bbb,-16px 0 0 #bbb,16px -2px 0 #bbb,32px -6px 0 #999;
		box-shadow: -32px 0 0 #bbb,-16px 0 0 #bbb,16px -2px 0 #bbb,32px -6px 0 #999;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	35% {
		-webkit-box-shadow: -32px 0 0 #bbb,-16px 0 0 #bbb,16px 0 0 #bbb,32px -2px 0 #bbb;
		box-shadow: -32px 0 0 #bbb,-16px 0 0 #bbb,16px 0 0 #bbb,32px -2px 0 #bbb;
	}
	40% {
		-webkit-box-shadow: -32px 0 0 #bbb,-16px 0 0 #bbb,16px 0 0 #bbb,32px 0 0 #bbb;
		box-shadow: -32px 0 0 #bbb,-16px 0 0 #bbb,16px 0 0 #bbb,32px 0 0 #bbb;
	}
	to {
		-webkit-box-shadow: -32px 0 0 #bbb,-16px 0 0 #bbb,16px 0 0 #bbb,32px 0 0 #bbb;
		box-shadow: -32px 0 0 #bbb,-16px 0 0 #bbb,16px 0 0 #bbb,32px 0 0 #bbb;
	}
}
