.sub-header {
	background: $primary-background-color;
	.sub-container {
	    @include justify-content(space-between);
	    height: 75px;
	    padding: 0 25px;
	    @include flex();
	    @include align-items(center);
	}
	.account,
	.search-inner {
		display: none;
	}
	.logo img {
		width: 80px;
	}
	.search-icon {
	    color: $main-color;
	    cursor: pointer;
	    font-size: 18px;
	    display: block;
	}
	.search .result {
		display: none;
	}
}

@media screen and (max-width: 960px) {
	.sub-header .active.search-icon {
		position: relative;
		&:after {
			position: absolute;
			content: '';
			width: 5px;
			height: 5px;
			background: $primary-color;
			border-radius: 50%;
			top: -3px;
			right: -2px;
		}
	}
}

.show-searchform {
	overflow-y:hidden;
	.sub-header {
		top:0;
		left: 0;
		position: fixed;
		width: 100%;
		z-index: 9999;
		.search-inner {
		    position: absolute;
		    top: 75px;
		    left: 0;
		    width: 100%;
		    height: calc(100vh - 75px);
		    background: $primary-background-color;
		    display: block;
		    padding: 0 25px;
		    z-index: 999;
		}
		.search-icon {
		    font-size: 14px;
		    &:before {
			    content: "\e904";
			}
		}
	}
}

.sub-header .search {
 	.wrap-input {
	    margin-bottom: 12px;
	    position: relative;
	}
	.input {
	    border: 1px solid #4A494E;
	    border-radius: 4px;
	    @include flex();
	    @include align-items(center);
	    i {
			color: $main-color;
		    width: 50px;
		    text-align: center;
		    font-size: 17px;
		}
		input {
			margin: 0;
			padding: 0;
			border: none;
			outline: none;
			height: 48px;
			background: transparent;
			font-size: 15px;
			color: #fff;
			@include flex-grow("1 0");
		}
	}
	.btn-search {
		margin: 0;
	    padding: 0;
	    width: 100%;
	    background: $main-color;
	    color: #fff;
	    border: none;
	    font-size: 15px;
	    line-height: 48px;
	    border-radius: 4px;
	    outline: none;
	    @include transition();
	    cursor: pointer;
	    &.disable {
	    	pointer-events: none;
	    }
	}
	.wrap-input {
		.tp-search-result-2,
		.tp-search-result {
		    top: calc(100% + 12px);
		    &:before {
				top: -20px;
				height: 20px;
			}
		}
	}
}