
@media screen and (min-width: 320px) {
	.wrapper-header .slogan .text {
	    max-width: 430px;
	    margin: 0 auto;
	}
	.detail-page .related .related-slide .tp-salon {
		width: 320px;
		margin-right: 30px;
	}
}
@media screen and (min-width: 480px) {
	.landing-page {
		.tricks-beautiful, 
		.discovery {
			.list {
				margin-left: -10px;
				margin-right: -10px;
				margin-bottom: 10px;
				display: flex;
				flex-wrap: wrap;
			}
			.item{
				width: 50%;
				padding: 0 10px;
			}
		}
	}
	.footer .instagram li {
		width: 25%;
	}

	.detail-page .images-d .list .item {
	  width: calc(25% - 14px);
	}
}
@media screen and (min-width: 600px) {
	.header {
		.account {
			display: flex;
			.register {
				display: block;
			}
			li {
				margin-left: 55px;
				&:first-child {
					margin-left: 0;
				}
			}
		}
	}
	.landing-page {
		.guide-book {
			.list {
				margin: 0 -25px;
				display: flex;
				flex-wrap: wrap;
			}
			.item{
				width: 50%;
				padding: 0 25px;
			}
		}
		.savetime {
			display: flex;
			align-items: center;
			figure{
				width: 220px;
				margin: 0 30px 0 0;
			}
			.info {
				.register-now {
					max-width: 250px;
				}
			}
		}
	}

	.footer .instagram li {
		width: 20%;
	}
	.searchfull-page .salons {
		background:transparent;
		.list {
		    display: flex;
		    flex-wrap: wrap;
		}
		.item {
			width: calc(50% - 30px);
			background: #fff;
			padding: 0;
			margin: 15px;
		}
	}
	.searchsalon-page {
		display: flex;
		.wrap-maps {
			flex: 1 0;
			display: block;
			&.fixed .maps {
			    position: fixed;
			    top: 0;
			    right: 0;
			    width: calc(100% - 350px);
			    z-index: 1;
			}
			.maps {
				height: 100vh;
				iframe {
				    width: 100%;
				    height: 100%;
				}
			}
		}
		.box-salons {
		    width: 320px;
		    margin-right: 30px;
		    background: transparent;
		    .tp-salon{
				background: #fff;
				border-bottom: none;
			}
		}
	}
	.detail-page .images-d .list .item {
	  width: calc(20% - 14px);
	}
}
@media screen and (min-width: 768px) {
	.wrapper-header .search {
    	display: flex;
    	.wrap-input {
			margin: 0 20px 0 0;
			flex: 1 0;
		}
		.btn-search {
			width: 150px;
		}
 	}
	.discovery .item{
		width: 33.33%;
	}
	.savetime {
		max-width: 790px;
		margin-left: auto;
		margin-right: auto;
		figure{
			width: 270px;
			margin-right: 55px;
		}
	}
	.copyright.bottom {
		display: none;
	}

	.footer {
		.savetime-footer .copyright {
			display: block;
			margin: 20px 0 6px 0;
		}
		.tp-container {
			display: flex;
		}
		.full {
			flex: 1 0;
		}
		.instagram {
			width: 255px;
			margin-bottom: 0;
			order: 3;
			li {
				width: 33.33%;
			}
		}
		.links {
			order: 1;
			display: flex;
			flex-direction: column;
			.list-link {
				margin-bottom: 15px
			}
			.social {
				margin-bottom: 0;
			}
		}
		.savetime-footer {
			flex: 1 0;
			margin: 0 30px;
			order: 2;
			display: flex;
			flex-direction: column;
		}
	}

	.detail-page .images-d .list .item {
	  width: calc(16.66% - 14px);
	}
}
@media screen and (min-width: 800px) {
	.wrapper-header .search {
    	max-width: 830px;
    	margin: 0 auto;
 	}
 	.landing-page .tricks-beautiful .item {
		width: 33.33%;
	}
}
@media screen and (min-width: 960px) {
	.tp-container {
		max-width: 1050px;
		margin: 0 auto;
	}
	.footer {
		.links {
			width: 120px;
		}
		.savetime-footer {
			margin: 0 70px;
		}
	}
	.searchfull-page .salons .item {
		width: calc(33.33% - 30px);
	}
	.detail-page .images-d .list .item {
	  width: calc(14.28% - 14px);
	}
}
@media screen and (min-width: 1050px) {
	.header {
		max-width: 1170px;
		margin: 0 auto;
	}
	.wrapper-header .search {
		margin-bottom: 100px;
	}
	.tp-box {
		padding-left: 60px;
		padding-right: 60px;
	}
	.tp-container.landing-page {
		margin-top: -100px;
	}

	.landing-page {
		.tp-box .wrap-title {
			display: flex;
			justify-content: space-between;
			align-items: center;
			.tp-view-more {
				display: block;
			}
		}
		.guide-book {
			border-bottom: none;
			.list {
				border-bottom: 1px solid #EDF1F4;
			}
			.item{
				width: 33.33%;
				&:nth-child(3){
					margin-left: 33.33%;
				}
			}
		}
		.discovery .item{
			width: 25%;
		}
	}

	.tp-view-more.bottom {
		display: none;
	}
	.footer .tp-container {
		padding: 110px 60px;
	}

	.searchfull-page .salons {
		padding: 40px 0;
		.sub-container {
			width: 1220px;
			margin: 0 auto;
			padding: 0 25px;
		}
		.list {
			padding: 0;
			margin: 0 -15px;
		}
		.item .info {
			.price-rate {
				display: flex;
			}
			.price {
				border-bottom: none;
				border-right: 1px solid #EBF1F7;
				width: 50%;
			}
			.rate {
				width: 50%;
				padding: 15px 0 15px 15px;
			}
		}
	}
	
	.sub-header {
		.sub-container {
			max-width: 1220px;
			margin: 0 auto;
			padding: 0 25px;
		}
		.search {
		    position: relative;
		    width: 100%;
		    max-width: 700px;
		    .wrap-input {
				margin-bottom: 0;
				flex: 1 0;
			}
			.location .input {
				border-left: none;
				border-right: none;
			}
			.input{
				border-radius: 0;
			}
			.btn-search {
				color: transparent;
				width: 50px;
				border-radius: 0;
				&:hover {
					background: #1c928f;
				}
			}
		}

		.search-icon {
			position: absolute;
			color: #fff;
			top: 50%;
			transform: translateY(-50%);
			right: 16px;
			pointer-events: none;
		}
		.account {
			display: flex;
			margin: 0;
			padding: 0;
			list-style: none;
		}
		.account {
			.login {
				margin-left: 55px;
			}
			a {
				color: #fff;
				font-size: 14px;
				&:hover {
					color: $main-color;
				}
			}
		}

		.search-inner {
			display: flex;
		}
	}

	.detail-page {
		background: transparent;
		padding-bottom: 30px;
		.cart-mobile {
			display: none;
		}
		.stylist-d,
		.times-d {
		  display: block;
		}
		.content {
			background: #fff;
			max-width: 1050px;
			margin: -135px auto 0;
			display: flex;
			padding: 0 50px 50px;
			position: relative;
			z-index: 1;
			.main-content {
				padding-bottom: 0;
				.menu {
					justify-content: normal;
					li {
						margin-right: 70px;
						&:nth-child(3) {
							display:block;
						}	
					}
				}
				.wrap-menu.fixed .menu {
				    width: auto;
				    left: auto;
				    margin: 0;
				    padding-right: 5px;
				}

				.service-d {
					display: flex;
					.title {
						margin: 12px 0 0;
    					width: 130px;
					}
					.list {
						margin: 0;
    					flex: 1 0;
    					.item {
    						.name-price {
    							display: flex;
    							align-items: center;
    							.fl-full {
    								flex: 1 0;
    							}
    							.brace {
    								display: none;
    							}
    							span {
    								font-size: 15px;
    							}
    						}
    					}

					}
				}
				.stylist-d {
					display: flex;
					border-bottom: 1px solid #EDF1F4;
					padding: 10px 0;
					.title {
						margin: 12px 0 0 0;
						width: 130px;
					}
					.list {
						display: flex;
						flex: 1 0;
						flex-wrap: wrap;
						margin: 0 -16px;
    					.item {
    						width: 16.66%;
    						padding: 15px;
    						figure {
    							margin: 0;
    							img {
	    							width: 100%;
	    						}
							}
    						&.active figure {

    							position: relative;
    							&:before {
    								position: absolute;
									content: "\e902";
									font-family: 'bzone' !important;
									speak: none;
									font-style: normal;
									font-weight: normal;
									font-variant: normal;
									text-transform: none;
									-webkit-font-smoothing: antialiased;
									-moz-osx-font-smoothing: grayscale;
									top: 0;
									left: 0;
									width: 100%;
									height: 100%;
									background: rgba(53, 53, 53, 0.7);
									color: #fff;
									text-align: center;
									line-height: 48px;
									font-size: 19px;
									border-radius: 100px;							
    							}
    						}
    					}
    				}
				}
				.times-d {
					display: flex;
					border-bottom: 1px solid #EDF1F4;
					padding: 10px 0;
					.title {
					    margin-top: 23px;
						width: 130px;
					}
					.dates-times {
						flex: 1 0;
    				}
				}
				.images-d {
					.title {
					    margin-bottom: 15px;
					}
					.list .item {
					    width: calc(20% - 14px);
					}
				}

				.rate-d {
					.list .item .info-rate .info {
						position: relative;
						.date-stars .stars {
							position: absolute;
						    top: 5px;
						    right: 0;
						}
					}
					.view-all {
						display: flex;
					    align-items: center;
					    justify-content: space-between;
					    span {
					    	margin-bottom: 0;
					    }
					}
				}
			}
		    .cart {
				display: block;
				width: 335px;
				flex: 1 0 auto;
				margin: 25px 0 0 30px;
			    .inner-cart {
		    		border: 1px solid #edf1f4;
		    		background: #fff;
		    	}
			    &.fixed {
			    	.inner-cart {
			    		position: fixed;
					    top: 25px;
					    width: 335px;
			    	}
			    	&.fixed_bottom {
			    		position: relative;
			    		.inner-cart {
			    			bottom: 0;
			    			top: auto;
			    			position: absolute;
			    		}
			    	}
			    }
				.service-c {
					padding: 20px 25px 10px;
					border-bottom: 1px solid #edf1f4;
					.title-service {
						margin-bottom: 10px;
						font-size: 17px;
					}
					.item {
						padding: 10px 0;
						.name {
							font-size: 15px;
							margin-bottom: 5px;
							position: relative;
							padding-left: 40px;
							&:before {
								content: '';
								position: absolute;
								background: #2F2F2F;
								width: 24px;
								height: 24px;
								border-radius: 5px;
								left: 0;
								top: 50%;
								transform: translateY(-50%);
							}
							&:after {
								content: '';
								background: #fff;
								height: 2px;
								width: 12px;
								position: absolute;
								left: 6px;
								top: 50%;
								transform: translateY(-50%);
							}
						}
						.time-price {
							display: flex;
							justify-content: space-between;
							font-size: 13px;
							opacity: 0.7;
							padding-left: 40px;
						}
					}
				}
				.stylist-c {
					border-bottom: 1px solid #edf1f4;
					padding: 20px 25px;
					.title-stylist {
						font-size: 17px;
						margin-bottom: 20px;
					}
					.wrap {
						display: flex;
						align-items: center;
						figure {
							width: 56px;
							margin: 0 20px 0 0;
							position: relative;
							.delete {
								position: absolute;
								width: 18px;
								height: 18px;
								background: #2F2F2F;
								border-radius: 50%;
								top: 0;
								left: 0;
								cursor: pointer;
								transition: all 0.3s;
								&:hover {
									background: #54b2b0;
								}
								&:before {
									content: '';
									width: 8px;
									height: 2px;
									background: #fff;
									display: block;
									margin: 8px 0 0 5px;
								}
							}
						}
						.info {
							strong {
								display: block;
								font-size: 15px;
								font-weight: 300;
								margin-bottom: 2px;
							}
							span {
								display: block;
								font-size: 11px;
								opacity: 0.7;
							}
						}
					}
				}
				.time-c {
					display: flex;
					justify-content: space-between;
					align-items: center;
					border-bottom: 1px solid #edf1f4;
					padding: 13px 25px;
					strong {
						font-size: 15px;
						font-weight: 300;
					}
					span {
						font-size: 13px;
					}
				}
				.price-c {
					padding: 13px 25px;
					strong {
						font-weight: 300;
					}
					.total {
						display: flex;
						align-items: center;
						font-size: 17px;
						justify-content: space-between;
						margin-bottom: 3px;
					}
					.time {
						font-size: 13px;
						opacity: 0.7;
						display: flex;
						align-items: center;
						justify-content: space-between;
					}
				}
				.btn-book {
					padding: 10px 25px 20px;
					a {
						display: flex;
						align-items: center;
						background: #54B2B0;
						color: #fff;
						line-height: 45px;
						border-radius: 5px;
						justify-content: center;
						font-size: 17px;
						&:hover {
							background: #2F2F2F;
						}
						i {
							margin: 0 12px 4px 0;
							font-size: 22px;
						}
					}
				}
		    }
		}
	    .related {
    	    margin: 0 30px;
	    	.title-related {
	    		padding: 42px 0;
		    	max-width: 1050px;
				margin: 0 auto;
	    	}
	    }
	}

}

@media screen and (min-width: 1200px) {
	.searchsalon-page {
		.wrap-maps.fixed .maps{
			width: calc(100% - 830px);
		}
		.box-salons {
			width: 770px;
			margin: 30px 30px 0;
		}
	}
	.tp-salon {
		padding-bottom: 0;
		margin-bottom: 30px;
		display: flex;
		border-radius: 4px;
		.img-price {
			width: 380px;
			display: flex;
			flex-direction: column;
			figure img {
				border-radius: 4px 0 0 0;
			}
		}
		.price-rate {
			display: flex;
			border-bottom: none;
			flex: 1 0 auto;
			.price {
				position: static;
				width: 50%;
				border-right: 1px solid #ebf1f7;
				border-radius: 0;
				padding: 35px 15px;
				background: transparent;
			}
			.rate {
				width: 50%;
				border-right: 1px solid #ebf1f7;
				position: static;
				padding-right: 0;
				padding: 32px 0 32px 15px;
			}
		}
		.wrap-info {
			width: calc(100% - 380px);
			.times {
				flex-wrap: wrap;
				border-bottom: none;
				padding: 0 19px 0;
				overflow-x: visible;
				margin-top: -6px;
				.item {
					margin: 6px;
					flex: 0 1 auto;
					width: calc(20% - 12px);
					cursor: pointer;
					transition:all 0.3s;
					&:nth-child(n + 16) {
						display: none;
					}
				}
			}
			.wrap-times {
				paddingadding-bottom: 15px;
				&.expand .item:nth-child(n + 16) {
					display: block;
				}
			}
			.scrollup{
				display: flex;
				align-items: center;
				padding: 0 25px;
				cursor: pointer;
				&:before,
				&:after{
					content: '';
					flex: 1 0 auto;
					height: 1px;
					background: #E2E2E2;
				}
				i {
					border: 1px solid #E2E2E2;
					width: 20px;
					line-height: 18px;
					border-radius: 50px;
					font-size: 7px;
					text-align: center;
					color: #6D6D6D;
					transition: all 0.3s;
				}
			}
			.wrap-stylist {
				.scrollup {
					margin: -10px 0 15px;
					display: none;
				}
				&.expand {
					.stylist-img {
						flex-wrap: wrap;
						.number {
							display: none;
						}
						.item {
							display: block !important;
						}
					}
					.scrollup{
						display: flex;
					}
				}
			}
			.wrap-stylist,
			.wrap-times.expand {
				.scrollup i{
					transform: rotate(180deg);
				}
			}
			.scrollup:hover i{
				border-color: $main-color;
    			color: #54B2B0;
			}

			.stylist-img {
				justify-content: 
				flex-start;padding: 3px 13px;
				.item {
					padding-top: 12px;
					padding-bottom: 12px;
				}

				.active .number {}
				figure {
					
				}
			}
		}
	}

	.detail-page {
		.slide .control {
			width: 1180px;
			margin: 0 auto;
			top: 45px;
			left: 50%;
			transform: translateX(-50%);
		}
		.content .main-content .menu li:hover {
		  border-bottom-color: #54B2B0;
		}
		.related .related-slide .tp-salon {
			width: 770px;
		}
	}
	
}

