@media screen and (min-width: 320px) {
	.slogan-search .slogan .text {
	    max-width: 430px;
	    margin: 0 auto;
	}
	.detail-page .images-d .list .item {
	  	width: calc(33.33% - 14px);
        &:nth-child(-n+6) {
            display: block;
        }
	}
}
@media screen and (min-width: 480px) {
	.landing-page {
		.tricks-beautiful {
			.list {
				margin-left: -10px;
				margin-right: -10px;
				margin-bottom: 10px;
				@include flex();
				@include flex-wrap(wrap);
			}
			.item{
				width: 50%;
				padding: 0 10px;
			}
		}
		.top-barbershop,
		.beautify-place {
			.list {
				@include flex();
				@include flex-wrap(wrap);
				margin: -10px -10px 10px -10px;
				.item {
					width: 50%;
				    margin-bottom: 0;
				    padding: 10px;
				}
			}
		}
	}
	.tp-discovery {
		margin-left: -10px;
		margin-right: -10px;
		@include flex();
		@include flex-wrap(wrap);
		.item{
			width: 50%;
			padding: 0 10px;
			&.half-percent {
				width: 100%;
			}
		}
	}
	.detail-page {
		.slide .slide-inner {
			min-height: 200px;
		}
       	.utilities-d {
       		ul {
	            @include flex();
	            @include flex-wrap(wrap);
            }
            li {
            	width: 50%;
            }
       	}
		.images-d .list .item {
			width: calc(25% - 14px);
			&:nth-child(-n+8) {
				display: block;
			}
		}
		.related .related-slide .tp-salon {
			width: 320px;
			margin-right: 30px;
		}
	}

    .blog-page {
    	background: transparent;
        .blog {
            @include flex();
            @include flex-wrap(wrap);
            margin: -5px -5px 0 -5px;
        }
        .tp-blogitem {
            width: calc(50% - 10px);
            margin: 5px;
            .info {
			    border: none;
			    background: #fff;
			}
        }
    }
    .blogdetail-page .related .tp-blogitem {
    	width: 370px;
		margin-right: 30px;
		.info {
			border: 1px solid $border-color;
		}
    }
	.footer .instagram li {
		width: 25%;
	}

}
@media screen and (min-width: 600px) {
	.landing-page {
		.guide-book {
			.list {
				margin: 0 -25px;
				@include flex();
				@include flex-wrap(wrap);
			}
			.item{
				width: 50%;
				padding: 0 25px;
			}
		}
		.savetime {
			@include flex();
			@include align-items(center);
			figure{
				width: 220px;
				margin: 0 30px 0 0;
			}
			.info {
				.register-now {
					max-width: 250px;
				}
			}
		}
	}
	.searchfull-page .salons {
		background:transparent;
		.list {
		    @include flex();
		    @include flex-wrap(wrap);
		}
		.item {
			width: calc(50% - 30px);
			background: #fff;
			padding: 0;
			margin: 15px;
			@include flex();
			@include flex-direction(column);
			.info {
				@include flex-grow("1 0");
			}
		}
	}
	.searchsalon-page {
		@include flex();
		.wrap-maps {
			@include flex-grow("1 0");
			display: block;
			&.fixed .maps {
			    position: fixed;
			    top: 0;
			    right: 0;
			    width: calc(100% - 350px);
			    z-index: 1;
			}
			.maps {
				height: 100vh;
				#map-canvas {
				    width: 100%;
				    height: 100%;
				}
			}
		}
		.box-salons {
		    width: 320px;
		    margin-right: 30px;
		}
	}
	.detail-page {
		.slide .slide-inner {
			min-height: 250px;
		}
		.images-d .list .item {
	 		width: calc(20% - 14px);
			&:nth-child(-n+10) {
				display: block;
			}
		}
		.service-d {
			.title {
			    margin-bottom: 20px;
			}
			.content-service {
				@include flex();
				.left {
				    display: block;
				    margin-right: 40px;
    				width: 145px;
					.item {
						padding: 10px 15px 10px 0;
						border-bottom: 1px solid $border-color;
						position: relative;
						cursor: pointer;
						&:last-child {
							border-bottom: none;
						}
						svg {
							display: none;
						}
						&.active {
							background: #EDF1F4;
							margin-left: -10px;
							padding-left: 10px;
							svg {
								display: block;
								height: 100%;
								position: absolute;
								top: 0;
							    right: -16px;
								path {
									fill: #EDF1F4;
								}
							}
						}
						.bz-check {
							position: absolute;
						    font-size: 10px;
						    color: $main-color;
						    top: 50%;
						    transform: translateY(-50%);
						    right: 0;
						    z-index: 1;
						    display: none;
						}
						&.selected .bz-check {
							display: block;
						}
					}
				}
				.right {
					@include flex-grow("1 0");
					.item {
						display: none;
						&.active {
							display: block;
							.sub-service {
								display: block;
							}
						}
					}
					.name-item {
						display: none;
					}
					.sub-service {
						display: block;
						background: none;
						border-bottom: none;
					}
					.name-sub {
						margin: 0;
					}
					.sub-list {
						padding: 0 0 0 15px;
					}
					.action {
					    margin-left: 20px;
					}
				}
			}
		}
	}
    .service-page {
        background: transparent;
        .services {
	        @include flex();
	        @include flex-wrap(wrap);
	        margin-top: -5px;
	        margin-right: -5px;
	        margin-left: -5px;
	    }
	    .service-item{
	        width: calc(50% - 10px);
	        margin: 5px;
	    }
    }
    .blogdetail-page {
    	.content-page {
		    max-width: 750px;
		    margin: 0 auto;
		    padding: 0 25px;
		}
		.related .title-related {
			padding-left: 50px;
			padding-right: 50px;
			max-width: 800px;
			margin: 0 auto;
	    }
    }
    .tp-account-lang {
    	.account {
    		margin-left: 20px;
    		span {
    			display: block;
    		}
    		i {
    			display: none;
    		}
    	}
    }
	.footer .instagram li {
		width: 20%;
	}
}
@media screen and (min-width: 768px) {
	.slogan-search .search {
    	@include flex();
    	.wrap-input {
			margin: 0 20px 0 0;
			@include flex-grow("1 0");
		}
		.btn-search {
			width: 150px;
		}
 	}
	.landing-page {
		.savetime {
			max-width: 790px;
			margin-left: auto;
			margin-right: auto;
			figure {
				width: 270px;
				margin-right: 55px;
			}
		}
		.sale-off .list .item {
			width: 25%;
			&.half-percent {
				width: 50%;
			}
		}
		.top-barbershop,
		.beautify-place {
			.list .item {
				width: 33.33%;
			}
		}
	}
	.discovery-page {
		padding-left: 0;
		padding-right: 0;
	}
	.tp-discovery .item{
		width: 33.33%;
		&.half-percent {
			width: 66.66%;
		}
	}
	.tp-bigcontainer {
	    margin-left: auto;
	    margin-right: auto;
	    max-width: 1220px;
	    padding-left: 25px;
	    padding-right: 25px;
	}
	.tp-pagetitle {
		font-size: 30px;
		padding: 23px 0;
	}
	.detail-page {
		.slide .slide-inner {
		    min-height: 320px;
		}
       	.about-d {
	        .hot-news {
	            .list {
	            	    max-height: 370px;
                    overflow-y: visible;
                    overflow-x: auto;
                    &::-webkit-scrollbar {
                        width: 7px;
                        height: 7px;
                    }
                    &::-webkit-scrollbar-thumb {
                        background: #e5e6eb;
                        border-radius: 10px;
                    }
                    &::-webkit-scrollbar-track {
                        background: transparent;
                    }
                    scrollbar-face-color: #e5e6eb;
                    scrollbar-track-color: transparent;
	            }
	            .title {
	            }
	            .item {
	            	margin-bottom: 20px;
	            }
	            .img {
	                width: 140px;
	                height: auto;
	                margin-right: 15px;
	                img {
	                    max-width: 100%;
	                    height: auto;
	                    position: static;
	                    transform: none;
	                }
	            }
	            .name {
	                margin-bottom: 0;
	                font-weight: 400;
	            }
	            .creat-by {
	                font-size: 13px;
    				margin: 4px 0;
	            }
	            .des {
	            	font-size: 14px;
	                display: block;
	                line-height: 1.4;
	                color: rgba(47, 47, 47, 0.7);
	            }
	        }
   		}
        .staff-d {
            .list {
                .item {
                	width: calc(33.33% - 20px);
                    img {
                    }
                    .info {
                    	padding: 5px 10px 7px;
                        .level {
                        	font-size: 13px;
                        }
                        .name {
                        	font-size: 14px;
                        }
                    }
                }
            }
        }
   		.utilities-d li {
        	width: 33.33%;
			&:nth-child(n + 5) {
                @include flex();
            }
        	&:nth-child(5) ~ .view-all-wrap {
        		display: none;
        	}
        }
		.images-d .list .item {
	 		width: calc(16.66% - 14px);
			&:nth-child(-n+12) {
				display: block;
			}
		}
	}
    .stylists-page .stylists {
		.stylist-item {
	        @include flex();
	        padding: 25px 35px;
	        border-radius: 5px;
	        margin-bottom: 30px;
	    }
	    .avata-info {
	        width: 330px;
	        margin: 0 15px 0 0;
	    }
	}
	.service-page {
		.services {
	        margin-top: -15px;
	        margin-right: -15px;
	        margin-left: -15px;
	        .info {
		        padding: 30px 35px;
		    }
	    }
	    .service-item{
	        width: calc(50% - 30px);
	        margin: 15px;
	    }
	}
	.static-page {
		background: transparent;
		.content-page {
		    padding: 60px;
		}
	}
	.contact-page {
		@include flex();
		.address-info {
			width: 340px;
    		margin-right: 30px;
		}
		.wrap-form {
			.title-form {
				font-size: 30px;
				margin-bottom: 30px;
			}
			form {
				.txt-field {
					margin-bottom: 24px;
				}
				.name-email {
					@include flex();
					margin: 0 -12px;
					margin-bottom: 24px;
					input {
						@include flex-grow("1 0");
						margin: 0 12px;
					}
				}
			}
		}
	}
	.review-page {
		background: transparent;
		.content-page {
			@include flex();
			background: #fff;
			padding: 50px;
		}
		.wrap-form {
			.title-form {
				font-size: 30px;
				margin-bottom: 30px;
			}
			form {
				.txt-field {
					margin-bottom: 24px;
				}
				.name-email {
					@include flex();
					margin: 0 -12px;
					margin-bottom: 24px;
					input {
						@include flex-grow("1 0");
						margin: 0 12px;
					}
				}
			}
		}
	}
	.copyright.bottom {
		display: none;
	}
	.footer {
		.savetime-footer .copyright {
			display: block;
			margin: 20px 0 6px 0;
		}
		.tp-container {
			@include flex();
		}
		.full {
			@include flex-grow("1 0");
		}
		.instagram {
			width: 255px;
			margin-bottom: 0;
			order: 3;
			li {
				width: 33.33%;
			}
		}
		.links {
			order: 1;
			@include flex();
			@include flex-direction(column);
			.list-link {
				margin-bottom: 15px
			}
			.social {
				margin-bottom: 0;
			}
		}
		.savetime-footer {
			@include flex-grow("1 0");
			margin: 0 30px;
			order: 2;
			@include flex();
			@include flex-direction(column);
		}
	}
}
@media screen and (min-width: 800px) {
	.slogan-search .search {
    	max-width: 830px;
    	margin: 0 auto;
 	}
	.detail-page .slide .slide-inner {
	    min-height: 340px;
	}
 	.landing-page .tricks-beautiful .item {
		width: 33.33%;
	}
    .blog-page {
        .blog {
            margin: -15px -15px 0 -15px;
        }
        .tp-blogitem {
            width: calc(33.3% - 30px);
            margin: 15px;
        }
    }
}
@media screen and (min-width: 960px) {
	.tp-container {
		max-width: 1050px;
		margin: 0 auto;
	}

	.slogan-search .slogan .text {
		font-weight: 100;
	}

	.sub-header {
		.sub-container {
			max-width: 1220px;
			margin: 0 auto;
			padding: 0 25px;
		}
		.search {
		    position: relative;
		    width: 100%;
		    max-width: 700px;
		    .wrap-input {
				margin-bottom: 0;
				@include flex-grow("1 0");
			}
			.location .input {
				border-left: none;
				border-right: none;
			}
			.btn-search {
				color: transparent;
				width: 50px;
				border-radius: 0;
				&:hover {
					background: #1c928f;
				}
			}
			.input input {
				border-right: none;
			}
		}
		.search-icon {
			position: absolute;
			color: #fff;
			top: 50%;
			@include transform(translateY(-50%));
			right: 16px;
			pointer-events: none;
			margin-right: 0;
		}
		.search-inner {
			@include flex();
		}

		.tp-account-lang {
			@include flex();
		}
		.fx-full {
			display: none;
		}

	}
	.footer {
		.links {
			width: 120px;
		}
		.savetime-footer {
			margin: 0 70px;
		}
	}
	.searchfull-page .salons .item {
		width: calc(33.33% - 30px);
	}
	.detail-page {
		.images-d .list .item {
			width: calc(14.28% - 14px);
			&:nth-child(-n+14) {
				display: block;
			}
		}
		.slide .slide-inner {
	        min-height: 420px;
		}
	}
    .service-page .service-item{
        width: calc(33.33% - 30px);
    }
    .contact-page .address-info {
        margin-right: 70px;
    }
}
@media screen and (min-width: 1050px) {
	.slogan-search .search {
		margin-bottom: 100px;
	}
	.tp-box {
		padding-left: 60px;
		padding-right: 60px;
	}
	.tp-container.landing-page {
		margin-top: -100px;
	}
	.landing-page {
		.tp-box .wrap-title {
			@include flex();
			@include justify-content(space-between);
			@include align-items(center);
			.tp-view-more {
				display: block;
			}
		}
		.guide-book {
			border-bottom: none;
			.list {
				border-bottom: 1px solid $border-color;
			}
			.item{
				width: 33.33%;
				&:nth-child(3){
					margin-left: 33.33%;
				}
			}
		}
		.top-barbershop,
		.beautify-place {
			.list .item {
				width: 25%;
			}
		}
	}
	.discovery-page {
		background: transparent;
    	padding: 30px 0 0 0;
		.tp-bigcontainer {
			background: #fff;
		    padding: 40px 60px 40px;
		    max-width: 1290px;
		}
	}
	.tp-discovery .item{
		width: 25%;
		&.half-percent {
			width: 50%;
		}
	}
	.tp-view-more.bottom {
		display: none;
	}
	.tp-wrap-title .tp-view-more {
		display: block;
	}
	.footer .tp-container {
		padding: 110px 60px;
	}
	.searchfull-page .salons {
		padding: 40px 0;
		.sub-container {
			width: 1220px;
			margin: 0 auto;
			padding: 0 25px;
		}
		.list {
			padding: 0;
			margin: 0 -15px;
		}
		.item{
			.info {
				@include flex();
				@include flex-direction(column);
				.price-rate {
					@include flex();
					@include flex-grow("1 0");
				}
				.price {
					border-bottom: none;
					border-right: 1px solid $border-color;
					width: 50%;
				}
				.rate {
					width: 50%;
					padding: 15px 0 15px 15px;
				}
			}
			&.unverified {
				.info {
					.price-rate {
						@include flex-wrap(wrap);
					}
				}
				.tp-unverified {
					display: none;
				}
				.action-unverified {
				    width: 50%;
					@include flex();
				    @include align-items(center);
				    @include justify-content(center);
				    padding: 15px;
				    border-top: 1px solid $border-color;
				    .btn-action {
				    	white-space: nowrap;
					    width: 140px;
					    border: 1px solid $border-color;
					    border-radius: 2px;
					    padding: 7px 8px;
					    font-size: 13px;
					    @include transition();
					    cursor: pointer;
				    	i {
				    		color: $main-color;
   							margin-right: 5px;
				    	}
					    &:hover {
					    	border-color: $main-color;
					    }
				    }
				}
				.action-unverified:nth-child(2) {
					border-top: none;
				}
				.action-unverified:nth-child(3) {
					border-right: 1px solid $border-color;
				}
			}
		}
	}
	.detail-page {
		background: transparent;
		padding-bottom: 30px;
		.cart-mobile {
			display: none;
		}
		.slide .slide-inner {
	        min-height: 460px;
	        &:before {
        	    top: calc(50% - 67px);
	        }
		}
		.content {
			background: #fff;
			max-width: 1050px;
			margin: -135px auto 0;
			padding: 0 50px 0;
			position: relative;
			border-bottom: none;
			z-index: 1;

			.content-cart {
				@include flex();
			}

			.main-content {
				@include flex-grow("1 0");
				.menu {
					@include justify-content(normal);
					li {
						margin-right: 66px;
						&:nth-child(3) {
							display:block;
						}
					}
				}
				.wrap-menu.fixed .menu {
				    width: auto;
				    left: auto;
				    margin: 0;
				    padding-right: 2px;
				}
			}
			.stylist-d {
				@include flex();
				border-bottom: 1px solid $border-color;
				padding: 10px 0;
				.title {
					margin: 12px 0 0 0;
					width: 130px;
				}
				.wrap-list {
					@include flex-grow("1 0");
				}
				.list {
					@include flex();
					@include flex-wrap(wrap);
					margin: 0 -16px;
					.item {
						width: 16.66%;
						padding: 15px;
						figure {
							margin: 0 0 5px;
							img {
    							width: 100%;
    							border-radius: 50%;
    						}
						}
						.name {
							font-size: 10px;
							text-align: center;
							white-space: nowrap;
							text-overflow: ellipsis;
							overflow: hidden;
							direction: rtl;
							margin: 0 -11px;
						}
						&.active figure {
							position: relative;
							&:before {
								position: absolute;
								content: "\e903";
								font-family: 'bzone' !important;
								speak: none;
								font-style: normal;
								font-weight: normal;
								font-variant: normal;
								text-transform: none;
								-webkit-font-smoothing: antialiased;
								-moz-osx-font-smoothing: grayscale;
								top: 0;
								left: 0;
								width: 100%;
								height: 100%;
								background: rgba(53, 53, 53, 0.7);
								color: #fff;
								text-align: center;
								line-height: 48px;
								font-size: 19px;
								border-radius: 100px;
							}
						}
					}
				}
			}
			.times-d {
				@include flex();
				border-bottom: 1px solid $border-color;
				.title {
				    margin-top: 23px;
					width: 130px;
				}
				.dates-times {
					@include flex-grow("1 0");
				}
			}
			.images-d {
				.title {
				    margin-bottom: 15px;
				}
				.list .item {
				    width: calc(20% - 14px);
					&:nth-child(n+11) {
						display: none;
					}
				}
			}
			.rate-d {
				.list .item .info-rate .info {
					position: relative;
					.date-stars .tp-rate {
						position: absolute;
					    top: 5px;
					    right: 0;
					}
				}
			}

			.ads-d {
				display: block;
			}

			.map-about {
				display: flex;
				flex-wrap: wrap;
				> div:nth-child(2n +1) {
					width: calc(100% - 365px)
				}
				> div:nth-child(2n) {
					width: 335px;
					margin-left: 30px;
				}
			}
			.address-d {
				padding: 60px 0 0 0;
   				border-bottom: 0;
			}
			.map-d {
				padding-bottom: 0;
			}
			.utilities-d,
			.about-des-d,
			.working-d {
				border-bottom: none;
			}
			.working-d .list .item {
				max-width: none;
			}

			.wrap-cart {
				display: block;
				width: 335px;
			    margin: 0 0 25px 30px;
			    &.fixed {
			    	.cart {
			    		position: fixed;
					    width: 335px;
					    top: 0;
			    	}
			    	&.fixed_bottom {
			    		position: relative;
			    		.cart {
			    			bottom: 0;
			    			top: auto !important;
			    			position: absolute;
			    		}
			    	}
			    }
			    .cart {
			    	&:before,
			    	&:after {
			    		content: '';
					    display: table;
					    clear: both;
			    	}
					display: block;
				    .inner-cart {
			    		border: 1px solid $border-color;
			    		margin: 25px 0;
			    		background: #fff;
			    	}
					.service-c {
						padding: 20px 25px 10px;
						border-bottom: 1px solid $border-color;
						.title-service {
							margin-bottom: 10px;
							font-size: 17px;
						}
					}
					.stylist-c {
						border-bottom: 1px solid $border-color;
						padding: 20px 25px;
						.title-stylist {
							font-size: 17px;
							margin-bottom: 20px;
						}
						.wrap {
							@include flex();
							@include align-items(center);
							figure {
								width: 56px;
								margin: 0 20px 0 0;
								position: relative;
								img {
									border-radius: 50%;
								}
								.delete {
									position: absolute;
									width: 18px;
									height: 18px;
									background: $text-color;
									border-radius: 50%;
									top: 0;
									left: 0;
									cursor: pointer;
									@include transition();
									&:hover {
										background: $main-color;
									}
									&:before {
										content: '';
										width: 8px;
										height: 2px;
										background: #fff;
										display: block;
										margin: 8px 0 0 5px;
									}
								}
							}
							.info {
								strong {
									display: block;
									font-size: 15px;
									font-weight: 300;
									margin-bottom: 2px;
								}
								span {
									display: block;
									font-size: 11px;
									color: $primary-text-color;
								}
							}
						}
					}
					.time-c {
						@include flex();
						@include justify-content(space-between);
						@include align-items(center);
						border-bottom: 1px solid $border-color;
						padding: 13px 25px;
						strong {
							font-size: 15px;
							font-weight: 300;
						}
						span {
							font-size: 13px;
						}
					}
					.discount-code {
						padding: 15px 25px;
						border-bottom: 1px solid $border-color;
					}
					.price-book-c {
						padding: 20px 25px;
						.not-time {
							text-align: center;
							font-size: 13px;
							padding: 5px 0;
							color: $primary-color;
						}
					}
					.price-c {
						margin-bottom: 20px;
					}
					.no-service-c {
						padding: 20px 25px;
						.choice-service {
							margin-top: 15px;
						}
						p {
							text-align: center;
						    font-size: 16px;
						    margin: 10px 0 25px;
						}
					}
			    }
			    .ads-cart {
			    	display: block;
			    	a {
			    		display: block;
			    		margin-bottom: 25px;
			    	}
			    	img {
			    		width: 100%;
			    	}
			    }
			}
		}
	    .related {
    	    margin: 0 30px;
	    	.title-related {
	            .title {
	                font-size: 24px;
	            }
	    		padding: 42px 0;
		    	max-width: 1050px;
				margin: 0 auto;
	    	}
	    	.related-slide {
	    		margin: 0;
	    	}
	    }
	}
    .blogdetail-page {
        .related .title-related {
            padding-top: 42px;
            padding-bottom: 42px;
            .title {
                font-size: 24px;
            }
        }
        .related-slide {
            margin: 0 30px;
        }
    }
}

@media screen and (min-width: 1200px) {
	.main-header {
		.inner {
		    max-width: 1200px;
    		padding: 0 15px;
		    margin: 0 auto;
			@include flex();
			@include align-items(center);
			@include justify-content(space-between);
		}
		.logo,
		.tp-account-lang {
			position: static;
   			transform: none;
		}
		.menu {
			.icon,
			.close-menu {
				display: none;
			}

			.inner-menu {
				position: static;
			    width: auto;
			    height: auto;
			}
			.content-menu {
				height: auto;
    			overflow-y: visible;
    			> ul {
    				@include flex();
    				> li {
    					padding: 0 17px;
						> ul {
	    					top: 100%;
						    left: 0;
						    padding-left: 0;
	    				}
	    				> .bullet-icon {
	    					display: none;
	    				}
					}
    			}
    			ul {
    				font-weight: 300;
    				font-size: 15px;
    				ul {
    					display: block;
    					opacity: 0;
    					visibility: hidden;
						border-top: none;
						position: absolute;
						@include transition();
					    background: #fff;
					    width: 220px;
					    box-shadow: 0 3px 5px rgba(105, 105, 105, 0.2);
						a {
							padding: 10px 20px;
						}
						li.bullet {
				    		@include justify-content(space-between);
				    		> a {
				    	 		padding-right: 0;
				    	 		@include flex-grow("1 0");
				    		}
				    		.bullet-icon {
				    			margin: 0 15px 0 0;
				    		}
						}
						ul {
							top: 0;
							left: 100%;
						}
					}
					a {
						padding: 26px 0;
					}
    			}
				li {
				    border-bottom: none;
				    &.bullet {
				    	@include flex();
				    	@include align-items(center);
			    	 	> a {
			    	 		margin-right: 0;
			    	 	}
				    }
				    &:hover {
				    	> i,
				    	> a {
				    		color: $main-color;
				    	}

				    	> ul {
	    					opacity: 1;
	    					visibility: visible;
				    	}
				    }
				}
				.bullet-icon {
					background: none;
				    position: static;
				    color: $text-color;
				    border-radius: 0;
				    width: auto;
				    padding: 0;
				    font-size: 9px;
				    margin-left: 5px;
				    &:before {
					    content: "\e912";
					}
				}

			}
		}
	}

	.searchsalon-page {
		.wrap-maps.fixed .maps{
			width: calc(100% - 830px);
		}
		.box-salons {
			width: 770px;
			margin: 30px 30px 0;
			.salons-result {
				padding: 0 0 25px 0;
			}
		}
	}
	.searchfull-page {
		.stylist {
			.sub-container {
				max-width: 1220px;
				margin: 0 auto;
				padding: 0 25px;
			}
			.list {
				@include flex-grow("1 0");
			    padding-left: 0;
			}
			.item {
				width: 25%;
			}
			.tp-view-all {
				padding-right: 0;
			}
		}
		.services {
			.sub-container {
				max-width: 1220px;
				margin: 0 auto;
				padding: 0 25px;
				&:after {
					display: none;
				}
			}
			.list {
				@include flex-grow("1 0");
			    padding-left: 0;
			}
			.item {
				width: calc(25% - 20px);
			}
		}
	}
	.tp-salon {
		padding-bottom: 0;
		@include flex();
		border-radius: 4px;
		.img-price {
			width: 380px;
			@include flex();
			@include flex-direction(column);
			figure img {
				border-radius: 4px 0 0 0;
			}
		}
		.price-rate {
			@include flex();
			border-bottom: none;
			@include flex-grow("1 0 auto");
			.price {
				position: static;
				width: 50%;
				border-right: 1px solid $border-color;
				border-radius: 0;
				padding: 35px 15px;
				background: transparent;
			}
			.rate {
				width: 50%;
				border-right: 1px solid $border-color;
				position: static;
				padding-right: 0;
				padding: 32px 0 32px 15px;
				text-align: left;
    			pointer-events: all;
    			.stars-number {
    				@include justify-content(normal);
    				margin-bottom: 0;
    			}
    			.number {
    				display: block;
    			}
			}
		}

		&.unverified .price-rate .price {
			width: 100%;
		}

		.wrap-info {
			width: calc(100% - 380px);
			.name-address .des {
				display: block;
			}
			.list-price {
				border-bottom: none;
			}
		}
	}
	.detail-page {
		.slide {
			.control {
				width: 1180px;
				margin: 0 auto;
				top: 45px;
				left: 50%;
				@include transform(translateX(-50%));
			}
			.slide-inner {
		        min-height: 530px;
			}
		}
		.content .main-content .menu li:hover {
		  border-bottom-color: $main-color;
		}
		.related .related-slide .tp-salon {
			width: 770px;
		}
	}

}

@media screen and (max-width: 768px) {
	.slogan-search {
		.tp-search-result ul ul ul,
		.tp-search-result-2 ul ul {
		    display: block;
			position: static;
		    box-shadow: none;
		    width: auto;
		    margin-left: 20px;
		    padding: 0;
	        font-size: 13px;
		}
		.tp-search-result ul ul,
		.tp-search-result-2 {
			li {
				&:hover > a {
				    background: transparent;
				}
				a:hover {
					background: #EDF1F4;
				}
			}
		}
	}

	.tp-search-result > ul > li:first-child > ul > li {
		> a {
			display: none;
		}
		> ul {
			margin-left: 0;
		}
	}

}
@media screen and (max-width: 960px) {
	.sub-header {
		.tp-search-result ul ul ul {
			position: static;
		    display: block;
		    box-shadow: none;
		    width: auto;
		    margin-left: 20px;
		    padding: 0;
	        font-size: 13px;
		}
		.tp-search-result-2 ul ul {
		    display: block;
		    position: static;
		    box-shadow: none;
		    width: auto;
		    margin-left: 20px;
		    padding: 0;
	        font-size: 13px;
		}
	}
}
