
@media screen and (min-width: 768px) {
    .tp-list a {
        border-bottom: none;
        padding-bottom: 0;
        position: relative;
        font-weight: 500;
        padding: 0 0 0 15px;
        &:before {
            content: '';
            width: 5px;
            height: 5px;
            position: absolute;
            background: #54b2b0;
            top: 7px;
            left: 0;
        }
    }
    #main-content .left-content {
        .hot-news-ads {
            display: flex;
            flex-wrap: wrap;
            border-bottom: 1px solid #edf1f4;
            padding-bottom: 30px;
            .news-feature {
                width: calc(100% - 235px);
                border-bottom: none;
                margin-bottom: 25px;
                padding-bottom: 0;
            }
            .ads-1 {
                display: block;
                width: 220px;
                margin: 0 0 25px 15px;
                .img {
                    margin-bottom: 10px;
                    img {
                        width: 100%;
                    }
                }
                .name a {
                    color: inherit;
                    font-weight: 500;
                    font-size: 16px;
                    &:hover {
                        color: #54B2B0;
                    }
                }
            }
            .list {
                width: calc(100% - 235px);
                font-weight: 500;
                .item {
                    border-bottom: none;
                    padding: 0 0 0 15px;
                    position: relative;
                    &:before {
                        content: '';
                        width: 5px;
                        height: 5px;
                        position: absolute;
                        background: #54b2b0;
                        top: 7px;
                        left: 0;
                    }
                }
                .img {
                    display: none;
                }
                .info {
                    .name {
                        margin-bottom: 0;
                    }
                    .time {
                        display: none;
                    }
                }
            }
            .ads-2 {
                display: block;
                width: 220px;
                margin-left: 15px;
                img {
                    width: 100%;
                }
            }
        }
        .ads-full {
            padding: 30px 0;
        }
        .news-seciton {
            margin-bottom: 30px;
        }
        .cate-feature {
            padding-bottom: 0;
            border-bottom: 0;
            margin-bottom: 15px;
            .img {
                width: 265px;
                height: auto;
                img {
                    height: auto;
                    max-width: 100%;
                    position: static;
                    transform: none;
                }
            }
            .info {
                .name {
                    font-weight: 500;
                }
                .des {
                    display: block;
                    margin-top: 10px;
                    line-height: 1.4;
                    color: rgba(47, 47, 47, 0.7);
                }
            }
        }
        .list-article .item {
            padding-bottom: 15px;
            margin-bottom: 15px;
            .img {
                width: 265px;
                height: auto;
                img {
                    max-width: 100%;
                    height: auto;
                    position: static;
                    transform: none;
                }
            }
            .info {
                .name {
                    font-weight: 500;
                }
                .des {
                    display: block;
                    margin-top: 10px;
                    line-height: 1.4;
                    color: rgba(47, 47, 47, 0.7);
                }
            }
        }
        .video-section {
            position: relative;
            margin-bottom: 10px;
            .video-feature {
                display: block;
                width: calc(100% - 160px);
                border-bottom: none;
                margin-bottom: 0;
                padding-bottom: 0;
                .img {
                    width: 100%;
                    height: auto;
                    a:before {
                        font-size: 72px;
                        text-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
                    }
                    img {
                        max-width: 100%;
                        height: auto;
                        position: static;
                        transform: none;
                    }
                }
                .info .name {
                    font-weight: 500;
                    margin-top: 10px;
                }
            }
            .list {
                width: 150px;
                height: 100%;
                right: 0;
                top: 0;
                position: absolute;
                z-index: 10;
                overflow-y: visible;
                overflow-x: auto;
                &::-webkit-scrollbar {
                    width: 7px;
                    height: 7px;
                }
                &::-webkit-scrollbar-thumb {
                    background: #e5e6eb;
                    border-radius: 10px;
                }
                &::-webkit-scrollbar-track {
                    background: transparent;
                }
                scrollbar-face-color: #e5e6eb;
                scrollbar-track-color: transparent;
                .name a {
                    font-weight: 500;
                    display: block;
                    margin-top: 10px;
                    &:after {
                        display: none;
                    }
                }
                .img, .time {
                    display: block;
                }
                .item {
                    border-bottom: none;
                    margin-bottom: 0;
                    padding-bottom: 15px;
                    &:last-child {
                        padding-bottom: 0;
                    }
                }
                .time {
                    font-size: 12px;
                    color: rgba(47, 47, 47, 0.7);
                    font-style: italic;
                }
                .item .img a {
                    display: block;
                    position: relative;
                    &:before {
                        content: '\e905';
                        font-family: 'bzone' !important;
                        speak: none;
                        font-style: normal;
                        font-weight: normal;
                        font-variant: normal;
                        text-transform: none;
                        line-height: 1;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                        color: #fff;
                        font-size: 32px;
                        text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        transition: all 0.3s;
                        z-index: 10;
                    }
                    &:hover:before {
                        transform: translate(-50%, -50%) scale(1.15);
                    }
                }
            }
        }
        .salon-section {
            position: relative;
            margin-bottom: 10px;
            .feature-ads {
                width: 295px;
            }
            .feature {
                padding-bottom: 0;
                border-bottom: none;
                display: block;
                .img {
                    width: 100%;
                    height: auto;
                    margin-right: 0;
                    margin-bottom: 10px;
                    img {
                        max-width: 100%;
                        height: auto;
                        position: static;
                        transform: none;
                    }
                }
                .info {
                    .name a, .address {}
                    .tp-rate {
                        .number, .dash, .rate-status {
                            display: block;
                        }
                    }
                }
            }
            .ads {
                display: block;
                border: 1px solid #edf1f4;
                border-radius: 3px;
                text-align: center;
                position: relative;
                padding: 135px 0 20px;
                .btn-style {
                    position: absolute;
                    background: #00daa0;
                    color: #fff;
                    padding: 15px;
                    font-weight: 600;
                    font-size: 16px;
                    &.order {
                        left: 14px;
                        top: 20px;
                        background: #ffc000;
                        padding-right: 80px;
                    }
                    &.online {
                        right: 15px;
                        top: 54px;
                    }
                }
                .salon-image {
                    display: flex;
                    padding: 0 25px;
                    div {
                        width: 33.33%;
                        padding: 0 10px;
                    }
                    img {
                        border-radius: 50%;
                    }
                }
                .des {
                    color: rgba(47, 47, 47, 0.7);
                    padding: 20px 0;
                }
                .discovery {
                    display: block;
                    background: #db4c3c;
                    color: #fff;
                    max-width: 160px;
                    padding: 12px 0;
                    margin: auto;
                    border-radius: 3px;
                    &:hover {
                        background: #b5392c;
                    }
                }
            }
            .list {
                width: calc(100% - 305px);
                height: 100%;
                right: 0;
                top: 0;
                position: absolute;
                z-index: 10;
                overflow-y: visible;
                overflow-x: auto;
                &::-webkit-scrollbar {
                    width: 7px;
                    height: 7px;
                }
                &::-webkit-scrollbar-thumb {
                    background: #e5e6eb;
                    border-radius: 10px;
                }
                &::-webkit-scrollbar-track {
                    background: transparent;
                }
                scrollbar-face-color: #e5e6eb;
                scrollbar-track-color: transparent;
                .item:last-child {
                    padding-bottom: 0;
                }
                .img {
                    width: 120px;
                    height: 120px;
                    img {

                    }
                }
                .info {
                    .name a, .address {}
                    .tp-rate {
                        .number, .dash, .rate-status {
                            display: block;
                        }
                    }
                }
            }
        }
        .product-section {
            position: relative;
            .product-feature {
                width: 295px;
                .item {
                    display: block;
                    border-bottom: none;
                    padding-bottom: 0;
                    margin-bottom: 25px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    .img {
                        width: 100%;
                        height: auto;
                        display: block;
                        img {
                            max-width: 100%;
                            height: auto;
                            position: static;
                            transform: none;
                        }
                    }
                    .info .name {
                        margin-top: 10px;
                    }
                }
                .info {
                    .name a {}
                    .des {
                        display: block;
                        color: rgba(47, 47, 47, 0.7);
                        line-height: 1.4;
                    }
                    .time {}
                }
                .item .info .time {
                    display: none;
                }
            }
            .list {
                height: 100%;
                right: 0;
                top: 0;
                position: absolute;
                z-index: 10;
                width: calc(100% - 305px);
                overflow-y: visible;
                overflow-x: auto;
                &::-webkit-scrollbar {
                    width: 7px;
                    height: 7px;
                }
                &::-webkit-scrollbar-thumb {
                    background: #e5e6eb;
                    border-radius: 10px;
                }
                &::-webkit-scrollbar-track {
                    background: transparent;
                }
                scrollbar-face-color: #e5e6eb;
                scrollbar-track-color: transparent;
                .item {
                    display: flex;
                    &:last-child {
                        padding-bottom: 0;
                    }
                }
                .img {
                    display: block;
                    width: 120px;
                    height: 120px;
                    position: relative;
                    overflow: hidden;
                    margin-right: 10px;
                    img {
                        height: 100%;
                        max-width: none;
                        position: absolute;
                        top: 0;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
                .info {
                    .name {
                        margin-bottom: 10px;
                        a {}
                    }
                    .time {
                        display: block;
                        font-size: 12px;
                        color: rgba(47, 47, 47, 0.7);
                        font-style: italic;
                    }
                }
            }
        }

        .video-feature-list {
            .name {
                font-weight: 500;
            }
            .img a:before {
                font-size: 90px;
            }
        }

        .video-section-list {
            .feature {
                margin-bottom: 20px;
                .img {
                    width: 265px;
                    height: auto;
                    a:before {
                        font-size: 50px;
                    }
                    img {
                        max-width: 100%;
                        height: auto;
                        position: static;
                        transform: none;
                    }
                }
                .info {
                    .name {
                        font-weight: 500;
                    }
                    .des {
                        display: block;
                        margin-top: 10px;
                        line-height: 1.4;
                        color: rgba(47, 47, 47, 0.7);
                    }
                }
            }
            .list {
                font-weight: 500;
            }
        }

        .list-video {
            margin-top: 25px;
            .item {
                padding-bottom: 15px;
                margin-bottom: 15px;
                .img {
                    width: 265px;
                    height: auto;
                    a:before {
                        font-size: 50px;
                    }
                    img {
                        max-width: 100%;
                        height: auto;
                        position: static;
                        transform: none;
                    }
                }
                .info {
                    .name {
                        font-weight: 500;
                    }
                    .des {
                        display: block;
                        margin-top: 10px;
                        line-height: 1.4;
                        color: rgba(47, 47, 47, 0.7);
                    }
                }
            }
        }

    }

    #news-detail {
        .main-title {
            font-size: 24px;
        }
        .time {
            font-size: 14px;
        }
        .news-relate .list-relate {
            .img {
                width: 140px;
                height: auto;
                img {
                    max-width: 100%;
                    height: auto;
                    position: static;
                    transform: none;
                }
            }
            .name {
                margin-bottom: 0;
                font-weight: 500;
            }
            .creat-by {
                font-size: 14px;
                margin-bottom: 5px;
            }
            .des {
                display: block;
                line-height: 1.4;
                color: rgba(47, 47, 47, 0.7);
            }
        }
    }

	.footer {
		.savetime-footer .copyright {
			display: block;
			margin: 20px 0 6px 0;
		}
		.tp-container {
			@include flex();
		}
		.full {
			@include flex-grow("1 0");
		}
		.instagram {
			width: 255px;
			margin-bottom: 0;
			order: 3;
			li {
				width: 33.33%;
			}
		}
		.links {
			order: 1;
			@include flex();
			@include flex-direction(column);
			.list-link {
				margin-bottom: 15px
			}
			.social {
				margin-bottom: 0;
			}
		}
		.savetime-footer {
			@include flex-grow("1 0");
			margin: 0 30px;
			order: 2;
			@include flex();
			@include flex-direction(column);
		}
		.copyright.bottom {
			display: none;
		}
	}
}
@media screen and (min-width: 1070px) {

    .tp-title {
        background: transparent;
        height: 25px;
        margin-bottom: 25px;
        padding-left: 15px;
        .main-title {
            font-size: 18px;
        }
        .view-more {
            font-size: 15px;
            position: relative;
            color: inherit;
            font-weight: 300;
            &:hover {
                color: #54b2b0;
            }
            i {
                display: none;
            }
            span {
                display: block;
                position: relative;
                &:before {
                    content: '';
                    position: absolute;
                    width: 10px;
                    height: 1px;
                    background: #54B2B0;
                    bottom: 6px;
                    left: -17px;
                }
            }
        }
    }
    .tp-list {
        font-size: 15px;
    }
    .tp-container {
        max-width: 1070px;
        margin: auto;
    }
    #header {
        background: #fff;
        .tp-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .main-logo {
            max-width: 200px;
            display: block;
            width: 100%;
            img {
                width: 110px;
            }
        }
        .menu {
            .search-menu, .title-category {
                display: none;
            }
        }
        .main-menu {
            .bullet-icon {
                display: none;
            }
            font-size: 15px;
            font-weight: 300;
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
            }
            li {
                position: relative;
            }
            a {
                padding: 22px 35px;
                display: block;
                color: #2F2F2F;
            }
            li:hover > {
                i, a {
                    color: #54B2B0;
                }
            }
            > ul > li > ul {
                top: 100%;
                left: 15px;
            }
            ul ul {
                opacity: 0;
                visibility: hidden;
                border-top: none;
                position: absolute;
                transition: all 0.3s;
                background: #fff;
                width: 220px;
                box-shadow: 0 3px 5px rgba(105, 105, 105, 0.2);
                z-index: 10;
                ul {
                    top: 0;
                    left: 100%;
                }
                a {
                    padding: 10px 20px;
                    flex: 1 0;
                }
                li.bullet {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .bullet-icon {
                        margin: 0 15px 0 0;
                        display: block;
                        color: #2F2F2F;
                        font-size: 9px;
                        transform: rotate(-90deg);
                    }
                }
            }
            > ul {
                display: flex;
            }
            li:hover > ul {
                opacity: 1;
                visibility: visible;
            }
        }
        .news {
            display: none;
        }
        .search {
            .search-inner {
                border: 1px solid #EDF1F4;
                border-radius: 3px;
                transition: all 0.3s;
                display: flex;
                align-items: center;
                width: 200px;
                &:focus-within {
                    border-color: #54B2B0;
                }
            }
            .txt {
                border: none;
                flex: 1 0;
                height: 35px;
                background: transparent;
                padding: 0 10px;
                outline: none;
                font-size: 15px;
                width: 100%;
                &::-webkit-input-placeholder, &::-moz-placeholder, &:-ms-input-placeholder, &:-moz-placeholder {
                    color: rgba(47, 47, 47, 0.4);
                }
            }
            .button {
                position: relative;
                width: 35px;
                height: 35px;
                cursor: pointer;
                input {
                    background: transparent;
                    border: none;
                    display: block;
                    width: 100%;
                    height: 100%;
                    padding: 0;
                    outline: none;
                }
                i {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 16px;
                    pointer-events: none;
                }
            }
        }
    }
    #main-content {
        max-width: 1040px;
        margin: 20px auto 0;
        display: flex;
        padding: 20px;
        .left-content {
            flex: 1 0;
            .hot-news-ads {
                padding-bottom: 25px;
                .news-feature {
                    width: calc(100% - 240px);
                    margin-bottom: 30px;
                }
                .ads-1 {
                    margin: 0 0 30px 20px;
                    .img {
                        margin-bottom: 20px;
                    }
                }
                .news-feature {
                    .name {
                        margin: 15px 0;
                        font-size: 20px;
                    }
                    .des {
                        font-size: 16px;
                    }
                }
                .list {
                    font-size: 15px;
                }
            }
            .ads-full {
                padding: 25px 0;
            }
            .news-seciton {
                border-bottom: 1px solid #edf1f4;
                margin-bottom: 25px;
                padding-bottom: 25px;
                &:last-child {
                    border-bottom: none;
                    margin-bottom: 0;
                    padding-bottom: 0;
                }
            }
            .cate-feature {
                margin-bottom: 25px;
                .img {
                    margin-right: 20px;
                }
                .info {
                    .name {
                        font-size: 16px;
                    }
                    .creat-by {
                        font-size: 14px;
                    }
                    .des {
                        font-size: 15px;
                    }
                }
            }
            .list-article .item {
                .img {
                    margin-right: 20px;
                }
                .info {
                    .name {
                        font-size: 16px;
                    }
                    .creat-by {
                        font-size: 14px;
                    }
                    .des {
                        font-size: 15px;
                    }
                }
            }
            .video-section {
                .video-feature {
                    width: calc(100% - 170px);
                    .info {
                        .name {
                            font-size: 18px;
                        }
                        .time {
                            font-size: 14px;
                        }
                    }
                }
                .list {
                    .name a {
                        font-size: 15px;
                    }
                    .time {
                        font-size: 14px;
                    }
                }
            }
            .salon-section {
                margin-bottom: 0;
                .feature {
                    margin-bottom: 25px;
                    .info {
                        .name {
                            font-size: 16px;
                        }
                        .address {
                            margin: 3px 0;
                        }
                    }
                }
                .list {
                    width: calc(100% - 315px);
                    .img {
                        margin-right: 15px;
                    }
                    .info .name {
                        font-size: 16px;
                    }
                }
            }
            .product-section {
                .product-feature .item {
                    margin-bottom: 30px;
                    .info .name {
                        font-size: 16px;
                    }
                }
                .list {
                    width: calc(100% - 315px);
                    .img {
                        margin-right: 15px;
                    }
                    .info {
                        .name {
                            font-size: 16px;
                        }
                        .time {
                            font-size: 14px;
                        }
                    }
                }
            }
            .video-feature-list {
                .name {
                    font-size: 20px;
                    margin-top: 15px;
                }
                .time {
                    font-size: 14px;
                }
            }
            .video-section-list {
                .feature {
                    margin-bottom: 25px;
                    .img {
                        margin-right: 20px;
                    }
                    .info {
                        .name {
                            font-size: 16px;
                        }
                        .time {
                            font-size: 14px;
                        }
                        .des {
                            font-size: 15px;
                        }
                    }
                }
                .list {
                    font-size: 15px;
                }
            }
            .list-video {
                .item {
                    .img {
                        margin-right: 20px;
                    }
                    .info {
                        .name {
                            font-size: 16px;
                        }
                        .time {
                            font-size: 14px;
                        }
                        .des {
                            font-size: 15px;
                        }
                    }
                }
            }

        }
        .right-content {
            width: 330px;
            display: block;
            border-left: 1px solid #EDF1F4;
            padding-left: 20px;
            margin-left: 20px;
            .ads-list {
                a {
                    display: block;
                    margin-bottom: 15px;
                }
                &.ads-list-bottom a:last-child {
                    margin-bottom: 0;
                }
                img {
                    width: 100%;
                }
            }
            .like-box {
                margin-bottom: 15px;
                iframe {
                    vertical-align: middle;
                    width: 100%;
                }
            }
            .newest {
                .title-newest {
                    text-align: center;
                    background: #54b2b0;
                    font-size: 16px;
                    color: #fff;
                    padding: 10px 0;
                    border-radius: 5px 5px 0 0;
                }
                .list-newest {
                    border: 1px solid #edf1f4;
                    border-top: none;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    margin-bottom: 15px;
                    height: 1000px;
                    overflow-y: visible;
                    overflow-x: auto;
                    &::-webkit-scrollbar {
                        width: 7px;
                        height: 7px;
                    }
                    &::-webkit-scrollbar-thumb {
                        background: #e5e6eb;
                        border-radius: 10px;
                    }
                    &::-webkit-scrollbar-track {
                        background: transparent;
                    }
                    scrollbar-face-color: #e5e6eb;
                    scrollbar-track-color: transparent;
                    .list {
                        margin: 0 15px;
                        .item {
                            display: flex;
                            margin-bottom: 10px;
                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                        .img {
                            width: 70px;
                            height: 70px;
                            position: relative;
                            overflow: hidden;
                            margin-right: 10px;
                            img {
                                height: 100%;
                                max-width: none;
                                position: absolute;
                                top: 0;
                                left: 50%;
                                transform: translateX(-50%);
                            }
                        }
                        .info {
                            flex: 1 0;
                            .name a {
                                color: inherit;
                                &:hover {
                                    color: #54B2B0;
                                }
                            }
                            .time {
                                font-size: 12px;
                                color: rgba(47, 47, 47, 0.7);
                            }
                        }
                    }
                    .day {
                        text-align: center;
                        border-top: 1px solid #edf1f4;
                        margin: 15px;
                        font-size: 12px;
                        color: rgba(47, 47, 47, 0.7);
                        padding-top: 5px;
                    }
                }
            }
        }
    }
    #ads-list {
        display: block;
        background: #fff;
        padding: 30px 0;
        margin-top: 40px;
        .inner {
            max-width: 1046px;
            margin: auto;
            display: flex;
            a {
                display: block;
                width: 25%;
                padding: 0 3px;
            }
        }
    }

    #news-detail {
        .time {
            border-bottom: 1px solid #edf1f4;
            padding-bottom: 10px;
            margin-bottom: 30px;
        }
        .social-detail {
            display: flex;
            padding-bottom: 10px;
            margin-bottom: 30px;
        }
        .social {
            margin: 0 30px 0 0;
            width: 40px;
            flex-direction: column;
            a {
                width: 100%;
                margin: 0 0 15px 0;
            }
        }
        .detail-content {
            flex: 1 0;
            .des, .main-content {
                font-size: 15px;
            }
        }
        .news-relate {
            .title-relate {
                margin-bottom: 15px;
            }
            .list-relate {
                .item {
                    margin-bottom: 15px;
                    padding-bottom: 15px;
                }
                .img {
                    margin-right: 15px;
                }
                .name a {
                    font-size: 15px;
                }
            }
        }
    }

	.footer {
		.links {
			width: 120px;
		}
		.savetime-footer {
			margin: 0 70px;
		}
	}
}