#main-content {
    padding: 20px 15px;
    background: #fff;
    .left-content {
        .hot-news-ads {
            .news-feature {
                border-bottom: 1px solid #edf1f4;
                margin-bottom: 10px;
                padding-bottom: 10px;
                .img img {
                    width: 100%;
                }
                .name {
                    font-size: 18px;
                    margin: 10px 0;
                    a {
                        color: inherit;
                        &:hover {
                            color: #54B2B0;
                        }
                    }
                }
                .des {
                    line-height: 1.4;
                    color: rgba(47, 47, 47, 0.7);
                }
            }
            .ads-1, .ads-2 {
                display: none;
            }
            .list {
                .item {
                    display: flex;
                    color: inherit;
                    border-bottom: 1px solid #edf1f4;
                    margin-bottom: 10px;
                    padding-bottom: 10px;
                    &:hover {
                        color: #54B2B0;
                    }
                    &:last-child {
                        border-bottom: none;
                        margin-bottom: 0;
                        padding-bottom: 0;
                    }
                }
                .img {
                    width: 70px;
                    height: 70px;
                    position: relative;
                    overflow: hidden;
                    margin-right: 10px;
                    img {
                        height: 100%;
                        max-width: none;
                        position: absolute;
                        top: 0;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
                .info {
                    flex: 1 0;
                    .name {
                        margin-bottom: 10px;
                    }
                    .time {
                        font-size: 12px;
                        color: rgba(47, 47, 47, 0.7);
                        font-style: italic;
                    }
                }
            }
        }
        .ads-full {
            padding: 20px 0;
            img {
                width: 100%;
            }
        }
        .news-seciton {
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        .cate-feature {
            display: flex;
            border-bottom: 1px solid #edf1f4;
            margin-bottom: 10px;
            padding-bottom: 10px;
            .img {
                width: 70px;
                height: 70px;
                position: relative;
                overflow: hidden;
                margin-right: 10px;
                img {
                    height: 100%;
                    max-width: none;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
            .info {
                flex: 1 0;
                .name {
                    font-size: 14px;
                    margin-bottom: 10px;
                    a {
                        color: inherit;
                        &:hover {
                            color: #54B2B0;
                        }
                    }
                }
                .creat-by {
                    font-size: 12px;
                    color: rgba(47, 47, 47, 0.7);
                    font-style: italic;
                }
                .des {
                    display: none;
                }
            }
        }
        .video-section {
            .video-feature {
                display: flex;
                border-bottom: 1px solid #edf1f4;
                margin-bottom: 10px;
                padding-bottom: 10px;
                .img {
                    width: 70px;
                    height: 70px;
                    position: relative;
                    overflow: hidden;
                    margin-right: 10px;
                    a {
                        &:before {
                            content: '\e905';
                            font-family: 'bzone2' !important;
                            speak: none;
                            font-style: normal;
                            font-weight: normal;
                            font-variant: normal;
                            text-transform: none;
                            line-height: 1;
                            -webkit-font-smoothing: antialiased;
                            -moz-osx-font-smoothing: grayscale;
                            color: #fff;
                            font-size: 22px;
                            text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            transition: all 0.3s;
                            z-index: 10;
                        }
                        &:hover:before {
                            transform: translate(-50%, -50%) scale(1.15);
                        }
                    }
                    img {
                        width: 100%;
                        height: 100%;
                        max-width: none;
                        position: absolute;
                        top: 0;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
                .info {
                    flex: 1 0;
                    .name {
                        margin-bottom: 10px;
                        a {
                            color: inherit;
                            &:hover {
                                color: #54B2B0;
                            }
                        }
                    }
                    .time {
                        font-size: 12px;
                        color: rgba(47, 47, 47, 0.7);
                        font-style: italic;
                    }
                }
            }
            .list {
                .item {
                    border-bottom: 1px solid #edf1f4;
                    margin-bottom: 10px;
                    padding-bottom: 10px;
                    &:last-child {
                        border-bottom: none;
                        margin-bottom: 0;
                    }
                }
                .img, .time {
                    display: none;
                }
                .name a {
                    color: inherit;
                    &:hover {
                        color: #54B2B0;
                    }
                    &:after {
                        content: '\e904';
                        font-family: 'bzone'!important;
                        speak: none;
                        font-style: normal;
                        font-weight: normal;
                        font-variant: normal;
                        text-transform: none;
                        line-height: 1;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                        color: #54B2B0;
                        font-size: 12px;
                        margin-left: 5px;
                    }
                }
            }
        }
        .salon-section {
            .feature-ads {}
            .feature {
                display: flex;
                border-bottom: 1px solid #edf1f4;
                margin-bottom: 10px;
                padding-bottom: 10px;
                .img {
                    width: 70px;
                    height: 70px;
                    position: relative;
                    overflow: hidden;
                    margin-right: 10px;
                    img {
                        height: 100%;
                        max-width: none;
                        position: absolute;
                        top: 0;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
                .info {
                    flex: 1 0;
                    .name a {
                        color: inherit;
                        &:hover {
                            color: #54B2B0;
                        }
                    }
                    .address {
                        color: rgba(47, 47, 47, 0.7);
                    }
                    .tp-rate {
                        .number, .dash, .rate-status {
                            display: none;
                        }
                    }
                }
            }
            .ads {
                display: none;
                img {}
            }
            .list {
                .item {
                    display: flex;
                    border-bottom: 1px solid #edf1f4;
                    margin-bottom: 10px;
                    padding-bottom: 10px;
                    &:last-child {
                        margin-bottom: 0;
                        border-bottom: none;
                    }
                }
                .img {
                    width: 70px;
                    height: 70px;
                    position: relative;
                    overflow: hidden;
                    margin-right: 10px;
                    img {
                        height: 100%;
                        max-width: none;
                        position: absolute;
                        top: 0;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
                .info {
                    flex: 1 0;
                    .name a {
                        color: inherit;
                        &:hover {
                            color: #54B2B0;
                        }
                    }
                    .address {
                        color: rgba(47, 47, 47, 0.7);
                    }
                    .tp-rate {
                        .number, .dash, .rate-status {
                            display: none;
                        }
                    }
                }
            }
        }
        .product-section {
            .product-feature {
                .first-product {
                    display: flex;
                }
                .img {
                    display: none;
                }
                .first-product .img {
                    width: 70px;
                    height: 70px;
                    position: relative;
                    overflow: hidden;
                    margin-right: 10px;
                    display: block;
                    img {
                        height: 100%;
                        max-width: none;
                        position: absolute;
                        top: 0;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
                .item {
                    border-bottom: 1px solid #edf1f4;
                    margin-bottom: 10px;
                    padding-bottom: 10px;
                }
                .first-product .info {
                    flex: 1 0;
                    .name {
                        margin-bottom: 10px;
                    }
                }
                .info {
                    .name a {
                        color: inherit;
                        &:hover {
                            color: #54B2B0;
                        }
                    }
                    .des, .time {
                        display: none;
                    }
                }
                .first-product .info .time {
                    font-size: 12px;
                    color: rgba(47, 47, 47, 0.7);
                    font-style: italic;
                    display: block;
                }
            }
            .list {
                .item {
                    border-bottom: 1px solid #edf1f4;
                    margin-bottom: 10px;
                    padding-bottom: 10px;
                    &:last-child {
                        border-bottom: none;
                        margin-bottom: 0;
                    }
                }
                .img {
                    display: none;
                    img {}
                }
                .info {
                    flex: 1 0;
                    .name a {
                        color: inherit;
                        &:hover {
                            color: #54B2B0;
                        }
                    }
                    .time {
                        display: none;
                    }
                }
            }
        }
    }
    .right-content {
        display: none;
    }
}

#ads-list {
    display: none;
}
