#main-content .left-content {
    .video-feature-list {
        .img {
            a {
                display: block;
                position: relative;
                &:before {
                    content: '\e905';
                    font-family: 'bzone' !important;
                    speak: none;
                    font-style: normal;
                    font-weight: normal;
                    font-variant: normal;
                    text-transform: none;
                    line-height: 1;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    color: #fff;
                    font-size: 60px;
                    text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    transition: all 0.3s;
                    z-index: 10;
                }
                &:hover:before {
                    transform: translate(-50%, -50%) scale(1.15);
                }
            }
        }
        .name {
            font-size: 18px;
            margin-top: 10px;
            line-height: 1.3;
            margin-bottom: 5px;
            a {
                color: inherit;
                &:hover {
                    color: #54B2B0;
                }
            }
        }
        .time {
            font-size: 12px;
            color: rgba(47, 47, 47, 0.7);
            font-style: italic;
        }
    }
    .video-section-list {
        .feature {
            display: flex;
            margin-bottom: 10px;
            .img {
                width: 70px;
                height: 70px;
                position: relative;
                overflow: hidden;
                margin-right: 10px;
                a {
                    &:before {
                        content: '\e905';
                        font-family: 'bzone' !important;
                        speak: none;
                        font-style: normal;
                        font-weight: normal;
                        font-variant: normal;
                        text-transform: none;
                        line-height: 1;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                        color: #fff;
                        font-size: 22px;
                        text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        transition: all 0.3s;
                        z-index: 10;
                    }
                    &:hover:before {
                        transform: translate(-50%, -50%) scale(1.15);
                    }
                }
                img {
                    height: 100%;
                    max-width: none;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
            .info {
                flex: 1 0;
                .name {
                    margin-bottom: 10px;
                    a {
                        color: inherit;
                        &:hover {
                            color: #54B2B0;
                        }
                    }
                }
                .time {
                    font-size: 12px;
                    color: rgba(47, 47, 47, 0.7);
                    font-style: italic;
                }
                .des {
                    display: none;
                }
            }
        }
        .list {
            a {
                display: block;
                color: inherit;
                position: relative;
                padding: 0 0 10px 20px;
                &:before {
                    content: '\e904';
                    font-family: 'bzone' !important;
                    speak: none;
                    font-style: normal;
                    font-weight: normal;
                    font-variant: normal;
                    text-transform: none;
                    line-height: 1;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    color: #54B2B0;
                    font-size: 14px;
                    position: absolute;
                    top: 2px;
                    left: 0;
                    z-index: 10;
                }
                &:hover {
                    color: #54B2B0;
                }
            }
        }
    }
    .list-video {
        margin: 20px 0 10px;
        .item {
            display: flex;
            border-bottom: 1px solid #edf1f4;
            margin-bottom: 10px;
            padding-bottom: 10px;
            .img {
                width: 70px;
                height: 70px;
                position: relative;
                overflow: hidden;
                margin-right: 10px;
                a {
                    &:before {
                        content: '\e905';
                        font-family: 'bzone2' !important;
                        speak: none;
                        font-style: normal;
                        font-weight: normal;
                        font-variant: normal;
                        text-transform: none;
                        line-height: 1;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                        color: #fff;
                        font-size: 22px;
                        text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        transition: all 0.3s;
                        z-index: 10;
                    }
                    &:hover:before {
                        transform: translate(-50%, -50%) scale(1.15);
                    }
                }
                img {
                    height: 100%;
                    max-width: none;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
            .info {
                flex: 1 0;
                .name {
                    margin-bottom: 10px;
                    a {
                        color: inherit;
                        &:hover {
                            color: #54B2B0;
                        }
                    }
                }
                .time {
                    font-size: 12px;
                    color: rgba(47, 47, 47, 0.7);
                    font-style: italic;
                }
                .des {
                    display: none;
                }
            }
        }
    }
}
