@import './variable';

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&subset=vietnamese,latin-ext');

@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/dist/bootstrap-vue.css';
@import '~slick-carousel/slick/slick';
// @import '~perfect-scrollbar/src/css/main';
// @import '~font-awesome/scss/font-awesome';

@import './style';
@import './fonts.css';

.slick-slide {
    outline: none;
}

.pointer {
    cursor: pointer;
}

.form-control:focus {
    border-color: $main-color
}

.static-page {
    // background-color: #fff;
    // .content-page {
    //     padding: 15px 60px;
    // }
    .main-title {
        margin: 0 0 15px 0;
        font-size: 34px;
        font-weight: 400;
        border-bottom: 1px solid $border-color;
        line-height: 1.4;
        padding: 30px 0 15px 0;
    }
    .content-text {
        color: $primary-text-color;
        font-size: 15px;
        .sub-heading {
            color: $text-color;
            font-weight: 400;
            font-size: 20px;
        }
    }
}

.translation-text {
    border-left:2px solid #dcdee3;
    padding-left:12px;
}
