@font-face {
  font-family: 'bzone';
  src:  url('../fonts/bzone.eot?pr3bd');
  src:  url('../fonts/bzone.eot?pr3bd#iefix') format('embedded-opentype'),
    url('../fonts/bzone.ttf?pr3bd') format('truetype'),
    url('../fonts/bzone.woff?pr3bd') format('woff'),
    url('../fonts/bzone.svg?pr3bd#bzone') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bzone2';
  src:  url('../fonts/bzone2.eot?joqfhu');
  src:  url('../fonts/bzone2.eot?joqfhu#iefix') format('embedded-opentype'),
  url('../fonts/bzone2.ttf?joqfhu') format('truetype'),
  url('../fonts/bzone2.woff?joqfhu') format('woff'),
  url('../fonts/bzone2.svg?joqfhu#bzone') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'bzone' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bz-menu:before {
  content: "\e900";
}
.bz-book:before {
  content: "\e901";
}
.bz-calendar:before {
  content: "\e902";
}
.bz-check:before {
  content: "\e903";
}
.bz-clock:before {
  content: "\e904";
}
.bz-close:before {
  content: "\e905";
}
.bz-facebook:before {
  content: "\e906";
}
.bz-hair-spray:before {
  content: "\e907";
}
.bz-instagram:before {
  content: "\e908";
}
.bz-next:before {
  content: "\e909";
}
.bz-calendar-day:before {
  content: "\e90a";
}
.bz-location:before {
  content: "\e90b";
}
.bz-oval:before {
  content: "\e90c";
}
.bz-star:before {
  content: "\e90d";
}
.bz-email:before {
  content: "\e90e";
}
.bz-prev-2:before {
  content: "\e90f";
}
.bz-up-2:before {
  content: "\e910";
}
.bz-down-2:before {
  content: "\e911";
}
.bz-next-2:before {
  content: "\e912";
}
.bz-fax:before {
  content: "\e913";
}
.bz-global:before {
  content: "\e914";
}
.bz-phone:before {
  content: "\e915";
}
.bz-air-conditioner:before {
  content: "\e916";
}
.bz-note:before {
  content: "\e917";
}
.bz-phone2:before {
  content: "\e918";
}
.bz-like:before {
  content: "\e919";
}
.bz-information-button:before {
  content: "\e91a";
}
.bz-profile-user:before {
  content: "\e91b";
}
.bz-clockwise-rotation:before {
  content: "\e91c";
}
.bz-credit-cards:before {
  content: "\e91d";
}
.bz-customer-service:before {
  content: "\e91e";
}
.bz-search:before {
  content: "\e91f";
}
.bz-no-food:before {
  content: "\e920";
}
.bz-no-smoking-sign:before {
  content: "\e921";
}
.bz-parking:before {
  content: "\e922";
}
.bz-pet-footprint:before {
  content: "\e923";
}
.bz-shopping-cart:before {
  content: "\e924";
}
.bz-wifi-symbol-inside-a-circle:before {
  content: "\e925";
}
.bz-eye:before {
  content: "\e9ce";
}


i.bzone2 {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'bzone2' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bzone2.bz-facebook:before {
  content: "\e907";
}
.bzone2.bz-instagram:before {
  content: "\e908";
}
.bzone2.bz-star:before {
  content: "\e906";
}
.bzone2.bz-play-button:before {
  content: "\e905";
}
.bzone2.bz-video-camera:before {
  content: "\e904";
}
.bzone2.bz-prev:before {
  content: "\e900";
}
.bzone2.bz-next:before {
  content: "\e901";
}
.bzone2.bz-up:before {
  content: "\e903";
}
.bzone2.bz-down:before {
  content: "\e902";
}
.bzone2.bz-search:before {
  content: "\e91f";
}
